-- Step 1: Add the new column
ALTER TABLE [tbl_Asset]
ADD [SiteId] INT NULL;

-- Step 2: Update all existing rows
UPDATE [tbl_Asset]
SET [SiteId] = 5;


--Add 4 new columns in site table
Alter table [tbl_Site]
Add [Latitude] [decimal](18, 6) NULL,	
[Longitude] [decimal](18, 6) NULL,
	[SiteName] [varchar](200) NULL,
	[ZoneId] [int] NULL


--Insert data in those new columns
Update [tbl_Site]
Set [Latitude] = CAST(19.116288 AS Decimal(18, 6)),
[Longitude] = CAST(72.909122 AS Decimal(18, 6)),
[SiteName] = 'Pizza Express',
[ZoneId] = 2


--Add below connection string into appsettings.json file of ComplaintMTG folder
  "ConnectionStrings": {
        "CKCENTITY": "Server=DESKTOP-PHEMNI2;Database=pe_db_complaintMGT;Integrated Security=true;TrustServerCertificate=true;MultipleActiveResultSets=True"
    }