Drop table [tbl_MeterAssetMapping]
Drop table [tbl_MeterParameters]

USE [pe_db_complaintMGT]
GO
/****** Object:  Table [dbo].[tbl_MeterAssetMapping]    Script Date: 4/29/2026 5:00:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MeterAssetMapping](
	[MAPMappingID] [int] NOT NULL,
	[Asset] [varchar](50) NULL,
	[SitemeterId] [int] NULL,
	[MeterMasterID] [int] NULL,
	[Parameterid] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[CreateBy] [varchar](50) NULL,
	[UpdateBy] [varchar](50) NULL,
	[AssetID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPMappingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MeterParameters]    Script Date: 4/29/2026 5:00:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MeterParameters](
	[ParameterID] [int] NOT NULL,
	[MeterMasterID] [int] NULL,
	[ParameterPhaseID] [int] NULL,
	[MeterParaMeterMapping] [varchar](50) NULL,
	[DataType] [varchar](50) NULL,
	[Addresss] [int] NULL,
	[Remarks] [varchar](255) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[CreateBy] [varchar](50) NULL,
	[UpdateBy] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ParameterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_MeterAssetMapping] ([MAPMappingID], [Asset], [SitemeterId], [MeterMasterID], [Parameterid], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy], [AssetID]) VALUES (26, N'Dining Right Side Duct AC2', 2, 2, 26, CAST(N'2025-10-01T09:10:00.000' AS DateTime), NULL, N'adminhk', NULL, 120)
INSERT [dbo].[tbl_MeterAssetMapping] ([MAPMappingID], [Asset], [SitemeterId], [MeterMasterID], [Parameterid], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy], [AssetID]) VALUES (27, N'Dining Right Side Duct AC2', 2, 2, 27, CAST(N'2025-10-01T09:10:00.000' AS DateTime), NULL, N'adminhk', NULL, 120)
INSERT [dbo].[tbl_MeterAssetMapping] ([MAPMappingID], [Asset], [SitemeterId], [MeterMasterID], [Parameterid], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy], [AssetID]) VALUES (28, N'Dining Right Side Duct AC2', 2, 2, 28, CAST(N'2025-10-01T09:10:00.000' AS DateTime), NULL, N'adminhk', NULL, 120)
GO
INSERT [dbo].[tbl_MeterParameters] ([ParameterID], [MeterMasterID], [ParameterPhaseID], [MeterParaMeterMapping], [DataType], [Addresss], [Remarks], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (1, 1, 1, N'P1', N'varchar', NULL, N'MeterType', CAST(N'2025-10-01T09:10:00.000' AS DateTime), NULL, N'adminhk', N'NULL')
INSERT [dbo].[tbl_MeterParameters] ([ParameterID], [MeterMasterID], [ParameterPhaseID], [MeterParaMeterMapping], [DataType], [Addresss], [Remarks], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (2, 1, 1, N'P2', N'varchar', NULL, N'MeterName', CAST(N'2025-10-01T09:10:00.000' AS DateTime), NULL, N'adminhk', N'NULL')
INSERT [dbo].[tbl_MeterParameters] ([ParameterID], [MeterMasterID], [ParameterPhaseID], [MeterParaMeterMapping], [DataType], [Addresss], [Remarks], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (3, 1, 2, N'P3', N'float', 40117, N'Power Factor Avg', CAST(N'2025-10-01T09:10:00.000' AS DateTime), NULL, N'adminhk', N'NULL')
GO
ALTER TABLE [dbo].[tbl_MeterAssetMapping]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_MeterAssetMapping_tbl_MeterMaster] FOREIGN KEY([MeterMasterID])
REFERENCES [dbo].[tbl_MeterMaster] ([MeterMasterID])
GO
ALTER TABLE [dbo].[tbl_MeterAssetMapping] CHECK CONSTRAINT [FK_tbl_MeterAssetMapping_tbl_MeterMaster]
GO
ALTER TABLE [dbo].[tbl_MeterAssetMapping]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_MeterAssetMapping_tbl_MeterParameters] FOREIGN KEY([Parameterid])
REFERENCES [dbo].[tbl_MeterParameters] ([ParameterID])
GO
ALTER TABLE [dbo].[tbl_MeterAssetMapping] CHECK CONSTRAINT [FK_tbl_MeterAssetMapping_tbl_MeterParameters]
GO
ALTER TABLE [dbo].[tbl_MeterAssetMapping]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_MeterAssetMapping_tbl_sitemeter] FOREIGN KEY([SitemeterId])
REFERENCES [dbo].[tbl_sitemeter] ([Sitemeterid])
GO
ALTER TABLE [dbo].[tbl_MeterAssetMapping] CHECK CONSTRAINT [FK_tbl_MeterAssetMapping_tbl_sitemeter]
GO
ALTER TABLE [dbo].[tbl_MeterParameters]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_MeterParameters_tbl_MeterMaster] FOREIGN KEY([MeterMasterID])
REFERENCES [dbo].[tbl_MeterMaster] ([MeterMasterID])
GO
ALTER TABLE [dbo].[tbl_MeterParameters] CHECK CONSTRAINT [FK_tbl_MeterParameters_tbl_MeterMaster]
GO
ALTER TABLE [dbo].[tbl_MeterParameters]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_MeterParameters_tbl_ParameterPhaseMaster] FOREIGN KEY([ParameterPhaseID])
REFERENCES [dbo].[tbl_ParameterPhaseMaster] ([ParameterPhaseID])
GO
ALTER TABLE [dbo].[tbl_MeterParameters] CHECK CONSTRAINT [FK_tbl_MeterParameters_tbl_ParameterPhaseMaster]
GO
