USE [pe_db_complaintMGT]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllmeter_ActualPower]    Script Date: 4/29/2026 5:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[sp_GetAllmeter_ActualPower] 
@TimeCategory varchar(20)
AS
BEGIN
  SET NOCOUNT ON;

    DECLARE @startdate DATETIME;
    DECLARE @enddate DATETIME;

    IF (@TimeCategory = 'Hot')
    BEGIN

    SET @enddate =GetDate();
    SET @startdate = CAST(@enddate AS DATE);
   SELECT Distinct
    'Main Meter' as Devicename,
    E.p2 as DeviceID,
    E.Date,
    E.Time,
    ROUND(
        ABS(E.[p15]),2 )AS Power,
    ROUND(
        ABS(E.[p4])
    ,2 )AS R_Power,
    ROUND(
        ABS(E.[p7])
    ,2 )AS Y_Power,
    ROUND(
        ABS(E.[p10])
    ,2 )AS B_Power
FROM (
    SELECT Distinct
        p2 ,
        CAST(CreateDate AS date) AS Date,
        Cast(CreateDate as time) AS Time,
        p15 , p4 , p7 , p10
    FROM [dbo].[tbl_EnergyMeter]
    WHERE CreateDate BETWEEN @startdate
                         AND @enddate
) E
INNER JOIN [dbo].[tbl_sitemeter] S 
    ON E.p2 = S.MeterDisplayname
WHERE S.Sitemeterid = 1




    Union ALL

    SELECT  Distinct
    M.asset as Devicename,
    E.p2 as DeviceID,
    E.Date,
    E.Time,
    ROUND(
        ABS(E.[p8])
    ,2 )AS Power,
    ROUND(
        ABS(E.[p4])
    ,2 )AS R_Power,
    ROUND(
        ABS(E.[p5])
    ,2 )AS Y_Power,
    ROUND(
        ABS(E.[p6])
    ,2 )AS B_Power
FROM (
    SELECT Distinct
        p2 ,
        CAST(CreateDate AS date) AS Date,
        Cast(CreateDate as time) AS Time,
        p8 , p4,p5,p6
    FROM [dbo].[tbl_EnergyMeter]
    WHERE CreateDate BETWEEN @startdate
                         AND @enddate
) E
INNER JOIN [dbo].[tbl_sitemeter] S 
    ON E.p2 = S.MeterDisplayname
INNER JOIN [dbo].[tbl_MeterAssetMapping] M 
    ON S.sitemeterid = M.sitemeterid
 
 WHERE  S.Sitemeterid <> 1
  AND (
        S.sitemeterid <> 3 
        OR M.assetid = 121
      )

ORDER BY 
    DeviceID,
    Date,
    Time;

END


IF (@TimeCategory = 'warm')
    BEGIN

   SET @startDate = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1);
    SET @EndDate = GETDATE();
   SELECT Distinct
    'Main Meter' as Devicename,
    E.p2 as DeviceID,
    E.Date,
    E.Time,
    ROUND(
        ABS(E.[p15]),2 )AS Power,
    ROUND(
        ABS(E.[p4])
    ,2 )AS R_Power,
    ROUND(
        ABS(E.[p7])
    ,2 )AS Y_Power,
    ROUND(
        ABS(E.[p10])
    ,2 )AS B_Power
FROM (
    SELECT Distinct
        p2 ,
        CAST(CreateDate AS date) AS Date,
        Cast(CreateDate as time) AS Time,
        p15 , p4 , p7 , p10
    FROM [dbo].[tbl_EnergyMeter]
    WHERE CreateDate BETWEEN @startdate
                         AND @enddate
) E
INNER JOIN [dbo].[tbl_sitemeter] S 
    ON E.p2 = S.MeterDisplayname
WHERE S.Sitemeterid = 1




    Union ALL

    SELECT  Distinct
    M.asset as Devicename,
    E.p2 as DeviceID,
    E.Date,
    E.Time,
    ROUND(
        ABS(E.[p8])
    ,2 )AS Power,
    ROUND(
        ABS(E.[p4])
    ,2 )AS R_Power,
    ROUND(
        ABS(E.[p5])
    ,2 )AS Y_Power,
    ROUND(
        ABS(E.[p6])
    ,2 )AS B_Power
FROM (
    SELECT Distinct
        p2 ,
        CAST(CreateDate AS date) AS Date,
        Cast(CreateDate as time) AS Time,
        p8 , p4,p5,p6
    FROM [dbo].[tbl_EnergyMeter]
    WHERE CreateDate BETWEEN @startdate
                         AND @enddate
) E
INNER JOIN [dbo].[tbl_sitemeter] S 
    ON E.p2 = S.MeterDisplayname
INNER JOIN [dbo].[tbl_MeterAssetMapping] M 
    ON S.sitemeterid = M.sitemeterid
 
 WHERE  S.Sitemeterid <> 1
  AND (
        S.sitemeterid <> 3 
        OR M.assetid = 121
      )

ORDER BY 
    DeviceID,
    Date,
    Time;

END

IF (@TimeCategory = 'cold')
    BEGIN

    SET @StartDate = DATEADD(MONTH, -3, DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1));
    SET @EndDate   = GETDATE();
   SELECT Distinct
    'Main Meter' as Devicename,
    E.p2 as DeviceID,
    E.Date,
    E.Time,
    ROUND(
        ABS(E.[p15]),2 )AS Power,
    ROUND(
        ABS(E.[p4])
    ,2 )AS R_Power,
    ROUND(
        ABS(E.[p7])
    ,2 )AS Y_Power,
    ROUND(
        ABS(E.[p10])
    ,2 )AS B_Power
FROM (
    SELECT Distinct
        p2 ,
        CAST(CreateDate AS date) AS Date,
        Cast(CreateDate as time) AS Time,
        p15 , p4 , p7 , p10
    FROM [dbo].[tbl_EnergyMeter]
    WHERE CreateDate BETWEEN @startdate
                         AND @enddate
) E
INNER JOIN [dbo].[tbl_sitemeter] S 
    ON E.p2 = S.MeterDisplayname
WHERE S.Sitemeterid = 1




    Union ALL

    SELECT Distinct 
    M.asset as Devicename,
    E.p2 as DeviceID,
    E.Date,
    E.Time,
    ROUND(
        ABS(E.[p8])
    ,2 )AS Power,
    ROUND(
        ABS(E.[p4])
    ,2 )AS R_Power,
    ROUND(
        ABS(E.[p5])
    ,2 )AS Y_Power,
    ROUND(
        ABS(E.[p6])
    ,2 )AS B_Power
FROM (
    SELECT Distinct
        p2 ,
        CAST(CreateDate AS date) AS Date,
        Cast(CreateDate as time) AS Time,
        p8 , p4,p5,p6
    FROM [dbo].[tbl_EnergyMeter]
    WHERE CreateDate BETWEEN @startdate
                         AND @enddate
) E
INNER JOIN [dbo].[tbl_sitemeter] S 
    ON E.p2 = S.MeterDisplayname
INNER JOIN [dbo].[tbl_MeterAssetMapping] M 
    ON S.sitemeterid = M.sitemeterid
 
 WHERE  S.Sitemeterid <> 1
  AND (
        S.sitemeterid <> 3 
        OR M.assetid = 121
      )

ORDER BY 
    DeviceID,
    Date,
    Time;

END
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllmeter_AvgPower]    Script Date: 4/29/2026 5:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllmeter_AvgPower] 
@TimeCategory varchar(20)
AS
BEGIN
  SET NOCOUNT ON;

    DECLARE @startdate DATETIME;
    DECLARE @enddate DATETIME;

    IF (@TimeCategory = 'Hot')
    BEGIN

    SET @enddate =GetDate();
    SET @startdate = CAST(@enddate AS DATE);
SELECT
    'Main Meter' as Devicename,
    E.p2 AS DeviceID,
    Cast(E.Createdate as Date) as Date,
    COUNT((ABS(E.[p15]) )) AS [Count],

    ROUND(
        AVG(ABS(E.[p15])
    ),2 )AS Power,
    ROUND(
        AVG(ABS(E.[p4])
    ),2 )AS R_Power,
    ROUND(
        AVG(ABS(E.[p7])
    ),2 )AS Y_Power,
    ROUND(
        AVG(ABS(E.[p10])
    ),2 )AS B_Power

FROM ( select * from dbo.tbl_EnergyMeter 
where CreateDate between @startdate and @enddate) E
INNER JOIN [dbo].[tbl_sitemeter] S 
    ON E.p2 = S.MeterDisplayname

WHERE 
S.Sitemeterid = 1

GROUP BY
    Cast(E.Createdate as Date),
    E.p2

UNION ALL
   
SELECT
    M.Asset as DeviceName,
    E.p2 AS DeviceID,
    Cast(E.Createdate as Date) as Date,
    COUNT((ABS(E.[p8]) )) AS [Count],

    ROUND(
        AVG(ABS(E.[p8])
    ),2 )AS Power,
    ROUND(
        AVG(ABS(E.[p4])
    ),2 )AS R_Power,
    ROUND(
        AVG(ABS(E.[p5])
    ),2 )AS Y_Power,
    ROUND(
        AVG(ABS(E.[p6])
    ),2 )AS B_Power


FROM ( select * from dbo.tbl_EnergyMeter E
where CreateDate between @startdate and @enddate) E
INNER JOIN [dbo].[tbl_sitemeter] S 
    ON E.p2 = S.MeterDisplayname
INNER JOIN [dbo].[tbl_MeterAssetMapping] M 
    ON S.sitemeterid = M.sitemeterid

WHERE  S.Sitemeterid <> 1
  AND (
        S.sitemeterid <> 3 
        OR M.assetid = 121
      )

GROUP BY
Cast(E.Createdate as Date),
    M.asset,
    E.p2

Order by Power Desc;

End

IF (@TimeCategory = 'warm')
    BEGIN

     SET @startDate = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1);
    SET @EndDate = GETDATE();
SELECT
    'Main Meter' as Devicename,
    E.p2 AS DeviceID,
    COUNT((ABS(E.[p15]) )) AS [Count],

    ROUND(
        AVG(ABS(E.[p15])
    ),2 )AS Power,
    ROUND(
        AVG(ABS(E.[p4])
    ),2 )AS R_Power,
    ROUND(
        AVG(ABS(E.[p7])
    ),2 )AS Y_Power,
    ROUND(
        AVG(ABS(E.[p10])
    ),2 )AS B_Power

FROM ( select * from dbo.tbl_EnergyMeter 
where CreateDate between @startdate and @enddate) E
INNER JOIN [dbo].[tbl_sitemeter] S 
    ON E.p2 = S.MeterDisplayname

WHERE 
S.Sitemeterid = 1

GROUP BY
    E.p2

UNION ALL
   
SELECT
    M.Asset as DeviceName,
    E.p2 AS DeviceID,
    COUNT((ABS(E.[p8]) )) AS [Count],

    ROUND(
        AVG(ABS(E.[p8])
    ),2 )AS Power,
    ROUND(
        AVG(ABS(E.[p4])
    ),2 )AS R_Power,
    ROUND(
        AVG(ABS(E.[p5])
    ),2 )AS Y_Power,
    ROUND(
        AVG(ABS(E.[p6])
    ),2 )AS B_Power


FROM ( select * from dbo.tbl_EnergyMeter E
where CreateDate between @startdate and @enddate) E
INNER JOIN [dbo].[tbl_sitemeter] S 
    ON E.p2 = S.MeterDisplayname
INNER JOIN [dbo].[tbl_MeterAssetMapping] M 
    ON S.sitemeterid = M.sitemeterid

WHERE  S.Sitemeterid <> 1
  AND (
        S.sitemeterid <> 3 
        OR M.assetid = 121
      )

GROUP BY
    M.asset,
    E.p2

Order by Power Desc;

End

IF (@TimeCategory = 'cold')
    BEGIN

   SET @StartDate = DATEADD(MONTH, -3, DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1));
    SET @EndDate   = GETDATE();
SELECT
    'Main Meter' as Devicename,
    E.p2 AS DeviceID,
    COUNT((ABS(E.[p15]) )) AS [Count],

    ROUND(
        AVG(ABS(E.[p15])
    ),2 )AS Power,
    ROUND(
        AVG(ABS(E.[p4])
    ),2 )AS R_Power,
    ROUND(
        AVG(ABS(E.[p7])
    ),2 )AS Y_Power,
    ROUND(
        AVG(ABS(E.[p10])
    ),2 )AS B_Power

FROM ( select * from dbo.tbl_EnergyMeter 
where CreateDate between @startdate and @enddate) E
INNER JOIN [dbo].[tbl_sitemeter] S 
    ON E.p2 = S.MeterDisplayname

WHERE 
S.Sitemeterid = 1

GROUP BY
    E.p2

UNION ALL
   
SELECT
    M.Asset as DeviceName,
    E.p2 AS DeviceID,
    COUNT((ABS(E.[p8]) )) AS [Count],

    ROUND(
        AVG(ABS(E.[p8])
    ),2 )AS Power,
    ROUND(
        AVG(ABS(E.[p4])
    ),2 )AS R_Power,
    ROUND(
        AVG(ABS(E.[p5])
    ),2 )AS Y_Power,
    ROUND(
        AVG(ABS(E.[p6])
    ),2 )AS B_Power


FROM ( select * from dbo.tbl_EnergyMeter E
where CreateDate between @startdate and @enddate) E
INNER JOIN [dbo].[tbl_sitemeter] S 
    ON E.p2 = S.MeterDisplayname
INNER JOIN [dbo].[tbl_MeterAssetMapping] M 
    ON S.sitemeterid = M.sitemeterid

WHERE  S.Sitemeterid <> 1
  AND (
        S.sitemeterid <> 3 
        OR M.assetid = 121
      )

GROUP BY

    M.asset,
    E.p2

Order by Power Desc;

End
end

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllmeter_AvgPower_bargraph]    Script Date: 4/29/2026 5:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllmeter_AvgPower_bargraph] 
    @TimeCategory VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @startdate DATETIME;
    DECLARE @enddate DATETIME;

    --------------------------------------------------
    -- 🔥 HOT (Hourly)
    --------------------------------------------------
    IF (@TimeCategory = 'Hot')
    BEGIN
        SET @enddate = GetDate();
        SET @startdate = CAST(@enddate AS DATE);

        -- MAIN + SUB METERS
        SELECT 
            CASE WHEN S.Sitemeterid = 1 THEN 'Main Meter' ELSE M.Asset END AS Devicename,
            E.p2 AS DeviceID,
            CAST(E.CreateDate AS DATE) AS ReadingDate,
            DATEPART(HOUR, E.CreateDate) AS ReadingHour,

            ROUND(AVG(ABS(CASE WHEN S.Sitemeterid = 1 THEN E.p15 ELSE E.p8 END)),2) AS Power,
            ROUND(AVG(ABS(E.p4)),2) AS R_Power,
            ROUND(AVG(ABS(CASE WHEN S.Sitemeterid = 1 THEN E.p7 ELSE E.p5 END)),2) AS Y_Power,
            ROUND(AVG(ABS(CASE WHEN S.Sitemeterid = 1 THEN E.p10 ELSE E.p6 END)),2) AS B_Power

        FROM dbo.tbl_EnergyMeter E
        INNER JOIN dbo.tbl_sitemeter S ON E.p2 = S.MeterDisplayname
        LEFT JOIN dbo.tbl_MeterAssetMapping M ON S.sitemeterid = M.sitemeterid

        WHERE E.CreateDate BETWEEN @startdate AND @enddate
          AND (S.Sitemeterid = 1 OR (S.Sitemeterid <> 1 AND (S.sitemeterid <> 3 OR M.assetid = 121)))

        GROUP BY 
            CASE WHEN S.Sitemeterid = 1 THEN 'Main Meter' ELSE M.Asset END,
            E.p2,
            CAST(E.CreateDate AS DATE),
            DATEPART(HOUR, E.CreateDate)

        ORDER BY DeviceID, ReadingDate, ReadingHour;
    END

    --------------------------------------------------
    -- 🔥 WARM (Daily + Custom Week)
    --------------------------------------------------
    IF (@TimeCategory = 'warm')
    BEGIN
        SET @startdate = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1);
        SET @enddate = GETDATE();

        SELECT 
            CASE WHEN S.Sitemeterid = 1 THEN 'Main Meter' ELSE M.Asset END AS Devicename,
            E.p2 AS DeviceID,
            CAST(E.CreateDate AS DATE) AS ReadingDate,

            -- ✅ CUSTOM WEEK
            (DATEDIFF(DAY, @startdate, E.CreateDate) / 7) + 1 AS WeekNo,

            ROUND(AVG(ABS(CASE WHEN S.Sitemeterid = 1 THEN E.p15 ELSE E.p8 END)),2) AS Power,
            ROUND(AVG(ABS(E.p4)),2) AS R_Power,
            ROUND(AVG(ABS(CASE WHEN S.Sitemeterid = 1 THEN E.p7 ELSE E.p5 END)),2) AS Y_Power,
            ROUND(AVG(ABS(CASE WHEN S.Sitemeterid = 1 THEN E.p10 ELSE E.p6 END)),2) AS B_Power

        FROM dbo.tbl_EnergyMeter E
        INNER JOIN dbo.tbl_sitemeter S ON E.p2 = S.MeterDisplayname
        LEFT JOIN dbo.tbl_MeterAssetMapping M ON S.sitemeterid = M.sitemeterid

        WHERE E.CreateDate BETWEEN @startdate AND @enddate
          AND (S.Sitemeterid = 1 OR (S.Sitemeterid <> 1 AND (S.sitemeterid <> 3 OR M.assetid = 121)))

        GROUP BY 
            CASE WHEN S.Sitemeterid = 1 THEN 'Main Meter' ELSE M.Asset END,
            E.p2,
            CAST(E.CreateDate AS DATE),
            (DATEDIFF(DAY, @startdate, E.CreateDate) / 7)

        ORDER BY DeviceID, ReadingDate;
    END

    --------------------------------------------------
    -- 🔥 COLD (Month + Custom Week)
    --------------------------------------------------
    IF (@TimeCategory = 'cold')
    BEGIN
        SET @startdate = DATEADD(MONTH, -3, DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1));
        SET @enddate = GETDATE();

        SELECT 
            CASE WHEN S.Sitemeterid = 1 THEN 'Main Meter' ELSE M.Asset END AS Devicename,
            E.p2 AS DeviceID,

            DATEPART(YEAR, E.CreateDate) AS YearNo,
            DATEPART(MONTH, E.CreateDate) AS MonthNo,
            DATENAME(MONTH, E.CreateDate) AS MonthName,

            -- ✅ CUSTOM WEEK
            (DATEDIFF(DAY, @startdate, E.CreateDate) / 7) + 1 AS WeekNo,

            ROUND(AVG(ABS(CASE WHEN S.Sitemeterid = 1 THEN E.p15 ELSE E.p8 END)),2) AS Power,
            ROUND(AVG(ABS(E.p4)),2) AS R_Power,
            ROUND(AVG(ABS(CASE WHEN S.Sitemeterid = 1 THEN E.p7 ELSE E.p5 END)),2) AS Y_Power,
            ROUND(AVG(ABS(CASE WHEN S.Sitemeterid = 1 THEN E.p10 ELSE E.p6 END)),2) AS B_Power

        FROM dbo.tbl_EnergyMeter E
        INNER JOIN dbo.tbl_sitemeter S ON E.p2 = S.MeterDisplayname
        LEFT JOIN dbo.tbl_MeterAssetMapping M ON S.sitemeterid = M.sitemeterid

        WHERE E.CreateDate BETWEEN @startdate AND @enddate
          AND (S.Sitemeterid = 1 OR (S.Sitemeterid <> 1 AND (S.sitemeterid <> 3 OR M.assetid = 121)))

        GROUP BY 
            CASE WHEN S.Sitemeterid = 1 THEN 'Main Meter' ELSE M.Asset END,
            E.p2,
            DATEPART(YEAR, E.CreateDate),
            DATEPART(MONTH, E.CreateDate),
            DATENAME(MONTH, E.CreateDate),
            (DATEDIFF(DAY, @startdate, E.CreateDate) / 7)

        ORDER BY E.p2,YearNo, MonthNo, WeekNo;
    END

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllMeters_AvgPower_Operationwise]    Script Date: 4/29/2026 5:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_GetAllMeters_AvgPower_Operationwise]
@TimeCategory varchar(20)
AS

 
BEGIN
    SET NOCOUNT ON;

    DECLARE @startdate DATETIME;
    DECLARE @enddate DATETIME;

    IF (@TimeCategory = 'Hot')
    BEGIN

    SET @enddate =GetDate();
    SET @startdate = CAST(@enddate AS DATE);

    ;WITH LatestData AS (
        SELECT *
        FROM [dbo].[tbl_EnergyMeter]
        WHERE Createdate BETWEEN @startdate AND @enddate
    )

    /* ==== SUB METERS ==== */
    SELECT
        M.Asset AS Devicename,
        sow.SiteOperationWindow,
        sow.StartTime,
        sow.EndTime,
        E.p2 AS DeviceID,

        Round(Avg(ABS(E.p8)),2) AS Power,
        Round(Avg(ABS(E.p4)),2) AS R_Power,
        Round(Avg(ABS(E.p5)),2) AS Y_Power,
        Round(Avg(ABS(E.p6)),2) AS B_Power

    FROM LatestData E
    INNER JOIN tbl_SiteOperationWindow sow
        ON CAST(E.Createdate AS TIME) 
           BETWEEN sow.StartTime AND sow.EndTime

    INNER JOIN dbo.tbl_sitemeter S 
        ON E.p2 = S.MeterDisplayname

    INNER JOIN dbo.tbl_MeterAssetMapping M 
        ON S.sitemeterid = M.sitemeterid

    WHERE 
        S.sitemeterid <> 1
        AND (
            S.sitemeterid <> 3 
            OR M.assetid = 121
        )

    GROUP BY 
        M.Asset,
        sow.SiteOperationWindow,
        E.p2,
        sow.StartTime,
        sow.EndTime


    UNION ALL


    /* ==== MAIN METER ==== */
    SELECT
        'Main Meter' AS Devicename,
        sow.SiteOperationWindow,
        sow.StartTime,
        sow.EndTime,
        E.p2 AS DeviceID,

        Round(Avg(ABS(E.p15)),2) AS Power,
        Round(Avg(ABS(E.p4)),2) AS R_Power,
        Round(Avg(ABS(E.p7)),2) AS Y_Power,
        Round(Avg(ABS(E.p10)),2) AS B_Power

    FROM LatestData E
    INNER JOIN tbl_SiteOperationWindow sow
        ON CAST(E.Createdate AS TIME) 
           BETWEEN sow.StartTime AND sow.EndTime

    INNER JOIN dbo.tbl_sitemeter S 
        ON E.p2 = S.MeterDisplayname

    WHERE 
        S.sitemeterid = 1

    GROUP BY 
        sow.SiteOperationWindow,
        E.p2,
        sow.StartTime,
        sow.EndTime

        
    ORDER BY E.p2,Devicename,sow.starttime 
END

IF (@TimeCategory = 'warm')
    BEGIN

        SET @startdate = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1);
        SET @enddate = GETDATE();

    ;WITH LatestData AS (
        SELECT *
        FROM [dbo].[tbl_EnergyMeter]
        WHERE Createdate BETWEEN @startdate AND @enddate
    )

    /* ==== SUB METERS ==== */
    SELECT
        M.Asset AS Devicename,
        sow.SiteOperationWindow,
        sow.StartTime,
        sow.EndTime,
        E.p2 AS DeviceID,

        Round(Avg(ABS(E.p8)),2) AS Power,
        Round(Avg(ABS(E.p4)),2) AS R_Power,
        Round(Avg(ABS(E.p5)),2) AS Y_Power,
        Round(Avg(ABS(E.p6)),2) AS B_Power

    FROM LatestData E
    INNER JOIN tbl_SiteOperationWindow sow
        ON CAST(E.Createdate AS TIME) 
           BETWEEN sow.StartTime AND sow.EndTime

    INNER JOIN dbo.tbl_sitemeter S 
        ON E.p2 = S.MeterDisplayname

    INNER JOIN dbo.tbl_MeterAssetMapping M 
        ON S.sitemeterid = M.sitemeterid

    WHERE 
        S.sitemeterid <> 1
        AND (
            S.sitemeterid <> 3 
            OR M.assetid = 121
        )

    GROUP BY 
        M.Asset,
        sow.SiteOperationWindow,
        E.p2,
        sow.StartTime,
        sow.EndTime


    UNION ALL


    /* ==== MAIN METER ==== */
    SELECT
        'Main Meter' AS Devicename,
        sow.SiteOperationWindow,
        sow.StartTime,
        sow.EndTime,
        E.p2 AS DeviceID,

        Round(Avg(ABS(E.p15)),2) AS Power,
        Round(Avg(ABS(E.p4)),2) AS R_Power,
        Round(Avg(ABS(E.p7)),2) AS Y_Power,
        Round(Avg(ABS(E.p10)),2) AS B_Power

    FROM LatestData E
    INNER JOIN tbl_SiteOperationWindow sow
        ON CAST(E.Createdate AS TIME) 
           BETWEEN sow.StartTime AND sow.EndTime

    INNER JOIN dbo.tbl_sitemeter S 
        ON E.p2 = S.MeterDisplayname

    WHERE 
        S.sitemeterid = 1

    GROUP BY 
        sow.SiteOperationWindow,
        E.p2,
        sow.StartTime,
        sow.EndTime

        
    ORDER BY E.p2,Devicename,sow.starttime 
END

IF (@TimeCategory = 'cold')
    BEGIN

       SET @startdate = DATEADD(MONTH, -3, DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1));
        SET @enddate = GETDATE();

    ;WITH LatestData AS (
        SELECT *
        FROM [dbo].[tbl_EnergyMeter]
        WHERE Createdate BETWEEN @startdate AND @enddate
    )

    /* ==== SUB METERS ==== */
    SELECT
        M.Asset AS Devicename,
        sow.SiteOperationWindow,
        sow.StartTime,
        sow.EndTime,
        E.p2 AS DeviceID,

        Round(Avg(ABS(E.p8)),2) AS Power,
        Round(Avg(ABS(E.p4)),2) AS R_Power,
        Round(Avg(ABS(E.p5)),2) AS Y_Power,
        Round(Avg(ABS(E.p6)),2) AS B_Power

    FROM LatestData E
    INNER JOIN tbl_SiteOperationWindow sow
        ON CAST(E.Createdate AS TIME) 
           BETWEEN sow.StartTime AND sow.EndTime

    INNER JOIN dbo.tbl_sitemeter S 
        ON E.p2 = S.MeterDisplayname

    INNER JOIN dbo.tbl_MeterAssetMapping M 
        ON S.sitemeterid = M.sitemeterid

    WHERE 
        S.sitemeterid <> 1
        AND (
            S.sitemeterid <> 3 
            OR M.assetid = 121
        )

    GROUP BY 
        M.Asset,
        sow.SiteOperationWindow,
        E.p2,
        sow.StartTime,
        sow.EndTime


    UNION ALL


    /* ==== MAIN METER ==== */
    SELECT
        'Main Meter' AS Devicename,
        sow.SiteOperationWindow,
        sow.StartTime,
        sow.EndTime,
        E.p2 AS DeviceID,

        Round(Avg(ABS(E.p15)),2) AS Power,
        Round(Avg(ABS(E.p4)),2) AS R_Power,
        Round(Avg(ABS(E.p7)),2) AS Y_Power,
        Round(Avg(ABS(E.p10)),2) AS B_Power

    FROM LatestData E
    INNER JOIN tbl_SiteOperationWindow sow
        ON CAST(E.Createdate AS TIME) 
           BETWEEN sow.StartTime AND sow.EndTime

    INNER JOIN dbo.tbl_sitemeter S 
        ON E.p2 = S.MeterDisplayname

    WHERE 
        S.sitemeterid = 1

    GROUP BY 
        sow.SiteOperationWindow,
        E.p2,
        sow.StartTime,
        sow.EndTime

        
    ORDER BY E.p2,Devicename,sow.starttime 
END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllMeters_LastUpdated_Power]    Script Date: 4/29/2026 5:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllMeters_LastUpdated_Power]
AS

BEGIN

WITH LatestData AS (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY p2 ORDER BY CreateDate DESC) AS rn
    FROM [dbo].[tbl_EnergyMeter]
)

/* ==== SUB METERS ==== */
SELECT Distinct
    E.[EnergyMeterId],

     M.Asset AS Devicename,

    E.[p2] AS DeviceID,

    ABS(E.[p8]) AS Power, 
    ABS(E.[p4]) AS R_Power,
    ABS(E.[p5]) AS Y_Power,
    ABS(E.[p6]) AS B_Power,

    E.[CreateDate]

FROM LatestData E
INNER JOIN [dbo].[tbl_sitemeter] S 
    ON E.p2 = S.MeterDisplayname
INNER JOIN [dbo].[tbl_MeterAssetMapping] M 
    ON S.sitemeterid = M.sitemeterid

WHERE E.rn = 1
  AND S.Sitemeterid <> 1
  AND (
        S.sitemeterid <> 3 
        OR M.assetid = 121
      )

UNION ALL

/* ==== MAIN METER ==== */
SELECT Distinct
    E.[EnergyMeterId],
    'Main Meter' AS Devicename,
    E.[p2] AS DeviceID,

    ABS(E.[p15]) AS Power,
    ABS(E.[p4]) AS R_Power,
    ABS(E.[p7]) AS Y_Power,
    ABS(E.[p10]) AS B_Power,

    E.[CreateDate]

FROM LatestData E
INNER JOIN [dbo].[tbl_sitemeter] S 
    ON E.p2 = S.MeterDisplayname

WHERE E.rn = 1
  AND S.Sitemeterid = 1

ORDER BY Power DESC;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllMeters_LastUpdatedPower_piegraph]    Script Date: 4/29/2026 5:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_GetAllMeters_LastUpdatedPower_piegraph]
AS

BEGIN

WITH LatestData AS (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY p2 ORDER BY CreateDate DESC) AS rn
    FROM [dbo].[tbl_EnergyMeter]
)

/* ==== SUB METERS ==== */
SELECT Distinct
    E.[EnergyMeterId],

     M.Asset AS Devicename,

    E.[p2] AS DeviceID,

    ABS(E.[p8]) AS Power, 
    ABS(E.[p4]) AS R_Power,
    ABS(E.[p5]) AS Y_Power,
    ABS(E.[p6]) AS B_Power,

    E.[CreateDate]

FROM LatestData E
INNER JOIN [dbo].[tbl_sitemeter] S 
    ON E.p2 = S.MeterDisplayname
INNER JOIN [dbo].[tbl_MeterAssetMapping] M 
    ON S.sitemeterid = M.sitemeterid

WHERE E.rn = 1
  AND S.Sitemeterid <> 1
  AND (
        S.sitemeterid <> 3 
        OR M.assetid = 121
      )


ORDER BY Power DESC;

END
GO
