USE [pe_db_complaintMGT]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAmbientThermalAssetList]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================  
-- Author:  Prasun Guchhait  
-- Create date: 20-04-2024  
-- Description: Stored Procedurer to get the alerts information for HVAC Devices  
-- ;\
-- =============================================  
create PROCEDURE [dbo].[sp_GetAmbientThermalAssetList] 
--@username nvarchar(100)
AS  
BEGIN  
  
 SELECT A.AssetId, A.[Name]  
 FROM tbl_Asset A 
 INNER JOIN tbl_DeviceDetails DD ON DD.AssetId = A.AssetId 
  INNER JOIN tbl_AssetType AST ON AST.AssetTypeId = A.AssetTypeId  
  WHERE AST.[Description] in ( 'Kitchen Prod Area' , 'Store Ambient')
 --AND DD.SiteId IN (SELECT SiteId FROM dbo.udf_GetSiteAssocitedWithUser(@username))  
  
END 





GO
/****** Object:  StoredProcedure [dbo].[sp_GetHumidityMonitoringAmbient_AverageTrends_cold]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_GetHumidityMonitoringAmbient_AverageTrends_cold]  
@assetid varchar(255)
AS  
BEGIN  

DECLARE @START_DATE DATETIME;
DECLARE @END_DATE DATETIME;

SET @START_DATE = DATEADD(MONTH, -3, DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1));
SET @END_DATE   = GETDATE();

  
 ;WITH BaseData AS
(
    SELECT 
        dd.DeviceIdForExternal AS Deviceid,
        M.Name as Asset,
        ts.humidity AS Humidity,
        ts.reportdate,

        -- WeekStart (month bounded)
        DATEADD(
            DAY,
            ((DAY(ts.reportdate)-1)/7)*7,
            DATEFROMPARTS(YEAR(ts.reportdate), MONTH(ts.reportdate), 1)
        ) AS WeekStart

    FROM tbl_TempAndHumidityMonitoringSensor ts  

    INNER JOIN tbl_DeviceDetails DD 
        ON TS.Device_ID = DD.DeviceIdForExternal  

    INNER JOIN tbl_Asset M 
        ON M.AssetId = DD.AssetId

    WHERE M.AssetId IN (
        SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@assetid, ',')
    )
    AND ts.reportdate BETWEEN @START_DATE AND @END_DATE
)

SELECT
    Deviceid,
    Asset,

    -- ✅ Month from WeekStart (FIX)
    DATENAME(MONTH, WeekStart) AS [Month],

    WeekStart,

    -- ✅ WeekEnd capped inside month
    CASE 
        WHEN DATEADD(DAY, 6, WeekStart) > EOMONTH(WeekStart)
        THEN EOMONTH(WeekStart)
        ELSE DATEADD(DAY, 6, WeekStart)
    END AS WeekEnd,

    CAST(AVG(Humidity) AS DECIMAL(10,2)) AS Humidity

FROM BaseData

GROUP BY
    Deviceid,
    Asset,
    WeekStart

ORDER BY
    Deviceid,
    WeekStart;
END












GO
/****** Object:  StoredProcedure [dbo].[sp_GetHumidityMonitoringAmbient_AverageTrends_Hot]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetHumidityMonitoringAmbient_AverageTrends_Hot]  
@assetid varchar(255)
AS  
BEGIN  

DECLARE @START_DATE DATETIME;
DECLARE @END_DATE DATETIME;

SET @END_DATE = GETDATE();                  -- Current time 
SET @START_DATE = CAST(@END_DATE AS DATE);  -- Today 00:00:00

  
 SELECT Deviceid  
 , Asset 
 , CAST(ROUND(AVG(humidity), 2) AS DECIMAL(10,2)) AS Humidity
 , TransactionHour+1  as TransactionHour
 FROM  
 (  
  SELECT dd.DeviceIdForExternal as Deviceid  
  , M.Name as Asset 
  , Humidity   
  , RIGHT('0'+LTRIM(RIGHT(CONVERT(varchar,reportdate,100),8)),7) AS LogTime  
  , reportdate  
  , DATEPART(HOUR, reportdate) as TransactionHour  
  FROM tbl_TempAndHumidityMonitoringSensor ts  
  INNER JOIN tbl_DeviceDetails DD ON TS.Device_ID = DD.DeviceIdForExternal  
  INNER JOIN [tbl_Asset] M ON M.AssetId = DD.AssetId
	WHERE M.AssetId 
	--in (120,114,113,112)
	IN (SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@assetid, ',')) 
		AND reportdate between @START_DATE and @END_DATE
  --AND dd.SiteId IN (SELECT SiteId FROM udf_GetSiteAssocitedWithUser(@username))
 ) AS TempQ  
 GROUP BY Deviceid,Asset, TransactionHour  
 ORDER BY Deviceid , TransactionHour  
END













GO
/****** Object:  StoredProcedure [dbo].[sp_GetHumidityMonitoringAmbient_AverageTrends_warm]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetHumidityMonitoringAmbient_AverageTrends_warm]  
@assetid varchar(255)
AS  
BEGIN  

DECLARE @START_DATE DATETIME;
DECLARE @END_DATE DATETIME;

SET @START_DATE = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1);
SET @END_DATE = GETDATE();

  
 SELECT Deviceid  
 , Asset 
 , CAST(ROUND(AVG(Humidity), 2) AS DECIMAL(10,2)) AS Humidity
 , TransactionDay
 FROM  
 (  
  SELECT dd.DeviceIdForExternal as Deviceid  
  , M.Name as Asset 
  , Humidity as Humidity  
  , RIGHT('0'+LTRIM(RIGHT(CONVERT(varchar,reportdate,100),8)),7) AS LogTime  
  , reportdate  
  , DATEPART(Day, reportdate) as TransactionDay  
  FROM tbl_TempAndHumidityMonitoringSensor ts  
  INNER JOIN tbl_DeviceDetails DD ON TS.Device_ID = DD.DeviceIdForExternal  
  INNER JOIN [tbl_Asset] M ON M.AssetId = DD.AssetId
	WHERE M.AssetId 
	--in (120,114,113,112)
	IN (SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@assetid, ',')) 
		AND reportdate between @START_DATE and @END_DATE
  --AND dd.SiteId IN (SELECT SiteId FROM udf_GetSiteAssocitedWithUser(@username))
 ) AS TempQ  
 GROUP BY Deviceid,Asset, TransactionDay  
 ORDER BY Deviceid , TransactionDay  
END















GO
/****** Object:  StoredProcedure [dbo].[sp_GetHumidityMonitoringAmbient_live_ByAssetId]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Prasun Guchhait
-- Create date: 26-04-2024
-- Description:	Stored Procedurer to get the series temperature infrormation for HVAC Devices
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetHumidityMonitoringAmbient_live_ByAssetId]
@assetid varchar(255)
AS
BEGIN
DECLARE @START_DATE DATETIME;
DECLARE @END_DATE DATETIME;

SET @END_DATE = GETDATE();                  -- Current time 
SET @START_DATE = CAST(@END_DATE AS DATE);

	SELECT A.Name as Asset ,DD.DeviceIdForExternal as DeviceId, TTS.Humidity
	, reportdate as TransactionDate
	FROM tbl_TempAndHumidityMonitoringSensor TTS
	INNER JOIN tbl_DeviceDetails DD ON TTS.Device_ID = DD.DeviceIdForExternal
	INNER JOIN [tbl_Asset] A ON A.AssetId = DD.AssetId
	WHERE A.AssetId 
	--in (120,114,112)
	IN (SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@assetid, ',')) 
		AND reportdate between @START_DATE and @END_DATE
		order by A.Name , reportdate

END











GO
/****** Object:  StoredProcedure [dbo].[sp_GetHumidityMonitoringAmbient_live_ByAssetId_cold]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Prasun Guchhait
-- Create date: 26-04-2024
-- Description:	Stored Procedurer to get the series temperature infrormation for HVAC Devices
-- =============================================
create PROCEDURE [dbo].[sp_GetHumidityMonitoringAmbient_live_ByAssetId_cold]
@assetid varchar(255)
AS
BEGIN
DECLARE @START_DATE DATETIME;
DECLARE @END_DATE DATETIME;

SET @START_DATE = DATEADD(MONTH, -3, DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1));
SET @END_DATE   = GETDATE();

	SELECT A.Name as Asset ,DD.DeviceIdForExternal as DeviceId, TTS.Humidity
	, reportdate as TransactionDate
	FROM tbl_TempAndHumidityMonitoringSensor TTS
	INNER JOIN tbl_DeviceDetails DD ON TTS.Device_ID = DD.DeviceIdForExternal
	INNER JOIN [tbl_Asset] A ON A.AssetId = DD.AssetId
	WHERE A.AssetId 
	--in (120,114,112)
	IN (SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@assetid, ',')) 
		AND reportdate between @START_DATE and @END_DATE
		order by A.Name , reportdate

END


















GO
/****** Object:  StoredProcedure [dbo].[sp_GetHumidityMonitoringAmbient_live_ByAssetId_warm]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Prasun Guchhait
-- Create date: 26-04-2024
-- Description:	Stored Procedurer to get the series temperature infrormation for HVAC Devices
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetHumidityMonitoringAmbient_live_ByAssetId_warm]
@assetid varchar(255)
AS
BEGIN
DECLARE @START_DATE DATETIME;
DECLARE @END_DATE DATETIME;

SET @START_DATE = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1);
SET @END_DATE = GETDATE();

	SELECT A.Name as Asset ,DD.DeviceIdForExternal as DeviceId, TTS.Humidity
	, reportdate as TransactionDate
	FROM tbl_TempAndHumidityMonitoringSensor TTS
	INNER JOIN tbl_DeviceDetails DD ON TTS.Device_ID = DD.DeviceIdForExternal
	INNER JOIN [tbl_Asset] A ON A.AssetId = DD.AssetId
	WHERE A.AssetId 
	--in (120,114,112)
	IN (SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@assetid, ',')) 
		AND reportdate between @START_DATE and @END_DATE
		order by A.Name , reportdate

END










GO
/****** Object:  StoredProcedure [dbo].[sp_GetHVACAssetList]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================  
-- Author:  Prasun Guchhait  
-- Create date: 20-04-2024  
-- Description: Stored Procedurer to get the alerts information for HVAC Devices  
-- ;\
-- =============================================  
CREATE PROCEDURE [dbo].[sp_GetHVACAssetList] 
--@username nvarchar(100)
AS  
BEGIN  
  
 SELECT A.AssetId, A.[Name]  
 FROM tbl_Asset A 
 INNER JOIN tbl_DeviceDetails DD ON DD.AssetId = A.AssetId 
  INNER JOIN tbl_AssetType AST ON AST.AssetTypeId = A.AssetTypeId  
  WHERE AST.[Description] = 'HVAC'  
 --AND DD.SiteId IN (SELECT SiteId FROM dbo.udf_GetSiteAssocitedWithUser(@username))  
  
END  















GO
/****** Object:  StoredProcedure [dbo].[sp_GetThermalMonitoringAmbient_AverageTrends_cold]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_GetThermalMonitoringAmbient_AverageTrends_cold]  
@assetid varchar(255)
AS  
BEGIN  

DECLARE @START_DATE DATETIME;
DECLARE @END_DATE DATETIME;

SET @START_DATE = DATEADD(MONTH, -3, DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1));
SET @END_DATE   = GETDATE();

  
 ;WITH BaseData AS
(
    SELECT 
        dd.DeviceIdForExternal AS Deviceid,
        M.Name as Asset,
        ts.Temp_in_degree AS Temperature,
        ts.reportdate,

        -- WeekStart (month bounded)
        DATEADD(
            DAY,
            ((DAY(ts.reportdate)-1)/7)*7,
            DATEFROMPARTS(YEAR(ts.reportdate), MONTH(ts.reportdate), 1)
        ) AS WeekStart

    FROM tbl_TempAndHumidityMonitoringSensor ts  

    INNER JOIN tbl_DeviceDetails DD 
        ON TS.Device_ID = DD.DeviceIdForExternal  

    INNER JOIN tbl_Asset M 
        ON M.AssetId = DD.AssetId

    WHERE M.AssetId IN (
        SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@assetid, ',')
    )
    AND ts.reportdate BETWEEN @START_DATE AND @END_DATE
)

SELECT
    Deviceid,
    Asset,

    -- ✅ Month from WeekStart (FIX)
    DATENAME(MONTH, WeekStart) AS [Month],

    WeekStart,

    -- ✅ WeekEnd capped inside month
    CASE 
        WHEN DATEADD(DAY, 6, WeekStart) > EOMONTH(WeekStart)
        THEN EOMONTH(WeekStart)
        ELSE DATEADD(DAY, 6, WeekStart)
    END AS WeekEnd,

    CAST(AVG(Temperature) AS DECIMAL(10,2)) AS Temperature

FROM BaseData

GROUP BY
    Deviceid,
    Asset,
    WeekStart

ORDER BY
    Deviceid,
    WeekStart;
END














GO
/****** Object:  StoredProcedure [dbo].[sp_GetThermalMonitoringAmbient_AverageTrends_Hot]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_GetThermalMonitoringAmbient_AverageTrends_Hot]  
@assetid varchar(255)
AS  
BEGIN  

DECLARE @START_DATE DATETIME;
DECLARE @END_DATE DATETIME;

SET @END_DATE = GETDATE();                  -- Current time 
SET @START_DATE = CAST(@END_DATE AS DATE);  -- Today 00:00:00

  
 SELECT Deviceid  
 , Asset 
 , CAST(ROUND(AVG(Temperature), 2) AS DECIMAL(10,2)) AS Temperature
 , TransactionHour+1  as TransactionHour
 FROM  
 (  
  SELECT dd.DeviceIdForExternal as Deviceid  
  , M.Name as Asset 
  , Temp_in_degree as Temperature  
  , RIGHT('0'+LTRIM(RIGHT(CONVERT(varchar,reportdate,100),8)),7) AS LogTime  
  , reportdate  
  , DATEPART(HOUR, reportdate) as TransactionHour  
  FROM tbl_TempAndHumidityMonitoringSensor ts  
  INNER JOIN tbl_DeviceDetails DD ON TS.Device_ID = DD.DeviceIdForExternal  
  INNER JOIN [tbl_Asset] M ON M.AssetId = DD.AssetId
	WHERE M.AssetId 
	--in (120,114,113,112)
	IN (SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@assetid, ',')) 
		AND reportdate between @START_DATE and @END_DATE
  --AND dd.SiteId IN (SELECT SiteId FROM udf_GetSiteAssocitedWithUser(@username))
 ) AS TempQ  
 GROUP BY Deviceid,Asset, TransactionHour  
 ORDER BY Deviceid , TransactionHour  
END















GO
/****** Object:  StoredProcedure [dbo].[sp_GetThermalMonitoringAmbient_AverageTrends_warm]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetThermalMonitoringAmbient_AverageTrends_warm]  
@assetid varchar(255)
AS  
BEGIN  

DECLARE @START_DATE DATETIME;
DECLARE @END_DATE DATETIME;

SET @START_DATE = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1);
SET @END_DATE = GETDATE();

  
 SELECT Deviceid  
 , Asset 
 , CAST(ROUND(AVG(Temperature), 2) AS DECIMAL(10,2)) AS Temperature
 , TransactionDay
 FROM  
 (  
  SELECT dd.DeviceIdForExternal as Deviceid  
  , M.Name as Asset 
  , Temp_in_degree as Temperature  
  , RIGHT('0'+LTRIM(RIGHT(CONVERT(varchar,reportdate,100),8)),7) AS LogTime  
  , reportdate  
  , DATEPART(Day, reportdate) as TransactionDay  
  FROM tbl_TempAndHumidityMonitoringSensor ts  
  INNER JOIN tbl_DeviceDetails DD ON TS.Device_ID = DD.DeviceIdForExternal  
  INNER JOIN [tbl_Asset] M ON M.AssetId = DD.AssetId
	WHERE M.AssetId 
	--in (120,114,113,112)
	IN (SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@assetid, ',')) 
		AND reportdate between @START_DATE and @END_DATE
  --AND dd.SiteId IN (SELECT SiteId FROM udf_GetSiteAssocitedWithUser(@username))
 ) AS TempQ  
 GROUP BY Deviceid,Asset, TransactionDay  
 ORDER BY Deviceid , TransactionDay  
END













GO
/****** Object:  StoredProcedure [dbo].[sp_GetThermalMonitoringAmbient_live_ByAssetId]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Prasun Guchhait
-- Create date: 26-04-2024
-- Description:	Stored Procedurer to get the series temperature infrormation for HVAC Devices
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetThermalMonitoringAmbient_live_ByAssetId]
@assetid varchar(255)
AS
BEGIN
DECLARE @START_DATE DATETIME;
DECLARE @END_DATE DATETIME;

SET @END_DATE = GETDATE();                  -- Current time 
SET @START_DATE = CAST(@END_DATE AS DATE);

	SELECT A.Name as Asset ,DD.DeviceIdForExternal as DeviceId, TTS.Temp_in_degree
	, reportdate as TransactionDate
	FROM tbl_TempAndHumidityMonitoringSensor TTS
	INNER JOIN tbl_DeviceDetails DD ON TTS.Device_ID = DD.DeviceIdForExternal
	INNER JOIN [tbl_Asset] A ON A.AssetId = DD.AssetId
	WHERE A.AssetId 
	--in (120,114,112)
	IN (SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@assetid, ',')) 
		AND reportdate between @START_DATE and @END_DATE
		order by A.Name , reportdate

END














GO
/****** Object:  StoredProcedure [dbo].[sp_GetThermalMonitoringAmbient_live_ByAssetId_cold]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Prasun Guchhait
-- Create date: 26-04-2024
-- Description:	Stored Procedurer to get the series temperature infrormation for HVAC Devices
-- =============================================
create PROCEDURE [dbo].[sp_GetThermalMonitoringAmbient_live_ByAssetId_cold]
@assetid varchar(255)
AS
BEGIN
DECLARE @START_DATE DATETIME;
DECLARE @END_DATE DATETIME;

SET @START_DATE = DATEADD(MONTH, -3, DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1));
SET @END_DATE   = GETDATE();

	SELECT A.Name as Asset ,DD.DeviceIdForExternal as DeviceId, TTS.Temp_in_degree
	, reportdate as TransactionDate
	FROM tbl_TempAndHumidityMonitoringSensor TTS
	INNER JOIN tbl_DeviceDetails DD ON TTS.Device_ID = DD.DeviceIdForExternal
	INNER JOIN [tbl_Asset] A ON A.AssetId = DD.AssetId
	WHERE A.AssetId 
	--in (120,114,112)
	IN (SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@assetid, ',')) 
		AND reportdate between @START_DATE and @END_DATE
		order by A.Name , reportdate

END














GO
/****** Object:  StoredProcedure [dbo].[sp_GetThermalMonitoringAmbient_live_ByAssetId_warm]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Prasun Guchhait
-- Create date: 26-04-2024
-- Description:	Stored Procedurer to get the series temperature infrormation for HVAC Devices
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetThermalMonitoringAmbient_live_ByAssetId_warm]
@assetid varchar(255)
AS
BEGIN
DECLARE @START_DATE DATETIME;
DECLARE @END_DATE DATETIME;

SET @START_DATE = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1);
SET @END_DATE = GETDATE();

	SELECT A.Name as Asset ,DD.DeviceIdForExternal as DeviceId, TTS.Temp_in_degree
	, reportdate as TransactionDate
	FROM tbl_TempAndHumidityMonitoringSensor TTS
	INNER JOIN tbl_DeviceDetails DD ON TTS.Device_ID = DD.DeviceIdForExternal
	INNER JOIN [tbl_Asset] A ON A.AssetId = DD.AssetId
	WHERE A.AssetId 
	--in (120,114,112)
	IN (SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@assetid, ',')) 
		AND reportdate between @START_DATE and @END_DATE
		order by A.Name , reportdate

END
















GO
/****** Object:  StoredProcedure [dbo].[sp_GetThermalMonitoringHVAC_AverageTrends_cold]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetThermalMonitoringHVAC_AverageTrends_cold]  
@assetid varchar(255)
AS  
BEGIN  

DECLARE @START_DATE DATETIME;
DECLARE @END_DATE DATETIME;

SET @START_DATE = DATEADD(MONTH, -3, DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1));
SET @END_DATE   = GETDATE();

;WITH BaseData AS
(
    SELECT 
        dd.DeviceIdForExternal AS Deviceid,
        M.Asset,
        ts.Temp_in_degree AS Temperature,
        ts.Tdate,

        -- WeekStart (month bounded)
        DATEADD(
            DAY,
            ((DAY(ts.Tdate)-1)/7)*7,
            DATEFROMPARTS(YEAR(ts.Tdate), MONTH(ts.Tdate), 1)
        ) AS WeekStart

    FROM tbl_transactionTempSensor ts  

    INNER JOIN tbl_DeviceDetails DD 
        ON TS.Device_ID = DD.DeviceIdForExternal  

    INNER JOIN tbl_MeterAssetMapping M 
        ON M.AssetId = DD.AssetId

    WHERE M.AssetId IN (
        SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@assetid, ',')
    )
    AND ts.Tdate BETWEEN @START_DATE AND @END_DATE
)

SELECT
    Deviceid,
    Asset,

    -- ✅ Month from WeekStart (FIX)
    DATENAME(MONTH, WeekStart) AS [Month],

    WeekStart,

    -- ✅ WeekEnd capped inside month
    CASE 
        WHEN DATEADD(DAY, 6, WeekStart) > EOMONTH(WeekStart)
        THEN EOMONTH(WeekStart)
        ELSE DATEADD(DAY, 6, WeekStart)
    END AS WeekEnd,

    CAST(AVG(Temperature) AS DECIMAL(10,2)) AS Temperature

FROM BaseData

GROUP BY
    Deviceid,
    Asset,
    WeekStart

ORDER BY
    Deviceid,
    WeekStart;
END














GO
/****** Object:  StoredProcedure [dbo].[sp_GetThermalMonitoringHVAC_AverageTrends_Hot]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetThermalMonitoringHVAC_AverageTrends_Hot]  
@assetid varchar(255)
AS  
BEGIN  

DECLARE @START_DATE DATETIME;
DECLARE @END_DATE DATETIME;

SET @END_DATE = GETDATE();                  -- Current time 
SET @START_DATE = CAST(@END_DATE AS DATE);  -- Today 00:00:00

  
 SELECT Deviceid  
 , Asset 
 , CAST(ROUND(AVG(Temperature), 2) AS DECIMAL(10,2)) AS Temperature
 , TransactionHour+1  as TransactionHour
 FROM  
 (  
  SELECT dd.DeviceIdForExternal as Deviceid  
  , M.Asset  
  , Temp_in_degree as Temperature  
  , RIGHT('0'+LTRIM(RIGHT(CONVERT(varchar,Tdate,100),8)),7) AS LogTime  
  , Tdate  
  , DATEPART(HOUR, Tdate) as TransactionHour  
  FROM tbl_transactionTempSensor ts  
  INNER JOIN tbl_DeviceDetails DD ON TS.Device_ID = DD.DeviceIdForExternal  
  INNER JOIN [tbl_MeterAssetMapping] M ON M.AssetId = DD.AssetId
	WHERE M.AssetId 
	--in (120,114,113,112)
	IN (SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@assetid, ',')) 
		AND Tdate between @START_DATE and @END_DATE
  --AND dd.SiteId IN (SELECT SiteId FROM udf_GetSiteAssocitedWithUser(@username))
 ) AS TempQ  
 GROUP BY Deviceid,Asset, TransactionHour  
 ORDER BY Deviceid , TransactionHour  
END













GO
/****** Object:  StoredProcedure [dbo].[sp_GetThermalMonitoringHVAC_AverageTrends_warm]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetThermalMonitoringHVAC_AverageTrends_warm]  
@assetid varchar(255)
AS  
BEGIN  

DECLARE @START_DATE DATETIME;
DECLARE @END_DATE DATETIME;

    SET @START_DATE = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1);
    SET @END_DATE = GETDATE();

  
 SELECT Deviceid  
 , Asset 
 , CAST(ROUND(AVG(Temperature), 2) AS DECIMAL(10,2)) AS Temperature
 , TransactionDay 
 FROM  
 (  
  SELECT dd.DeviceIdForExternal as Deviceid  
  , M.Asset  
  , Temp_in_degree as Temperature  
  , RIGHT('0'+LTRIM(RIGHT(CONVERT(varchar,Tdate,100),8)),7) AS LogTime  
  , Tdate  
  , DATEPART(day, Tdate) as TransactionDay  
  FROM tbl_transactionTempSensor ts  
  INNER JOIN tbl_DeviceDetails DD ON TS.Device_ID = DD.DeviceIdForExternal  
  INNER JOIN [tbl_MeterAssetMapping] M ON M.AssetId = DD.AssetId
	WHERE M.AssetId 
	--in (120,114,113,112)
	IN (SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@assetid, ',')) 
		AND Tdate between @START_DATE and @END_DATE
  --AND dd.SiteId IN (SELECT SiteId FROM udf_GetSiteAssocitedWithUser(@username))
 ) AS TempQ  
 GROUP BY Deviceid,Asset, TransactionDay  
 ORDER BY Deviceid , TransactionDay  
END










GO
/****** Object:  StoredProcedure [dbo].[sp_GetThermalMonitoringHVAC_live_ByAssetId]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Prasun Guchhait
-- Create date: 26-04-2024
-- Description:	Stored Procedurer to get the series temperature infrormation for HVAC Devices
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetThermalMonitoringHVAC_live_ByAssetId]
@assetid varchar(255)
AS
BEGIN
DECLARE @START_DATE DATETIME;
DECLARE @END_DATE DATETIME;

SET @END_DATE = GETDATE();                  -- Current time 
SET @START_DATE = CAST(@END_DATE AS DATE);

	SELECT M.Asset ,DD.DeviceIdForExternal as DeviceId, TTS.Temp_in_degree
	, Tdate as TransactionDate
	FROM tbl_transactionTempSensor TTS
	INNER JOIN tbl_DeviceDetails DD ON TTS.Device_ID = DD.DeviceIdForExternal
	INNER JOIN [tbl_MeterAssetMapping] M ON M.AssetId = DD.AssetId
	WHERE M.AssetId 
	--in (120,114,112)
	IN (SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@assetid, ',')) 
		AND Tdate between @START_DATE and @END_DATE
		order by M.Asset , Tdate

END















GO
/****** Object:  StoredProcedure [dbo].[sp_GetThermalMonitoringHVAC_live_ByAssetId_cold]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Prasun Guchhait
-- Create date: 26-04-2024
-- Description:	Stored Procedurer to get the series temperature infrormation for HVAC Devices
-- =============================================
create PROCEDURE [dbo].[sp_GetThermalMonitoringHVAC_live_ByAssetId_cold]
@assetid varchar(255)
AS
BEGIN
DECLARE @START_DATE DATETIME;
DECLARE @END_DATE DATETIME;

SET @START_DATE = DATEADD(MONTH, -3, DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1));
    SET @END_DATE   = GETDATE();

	SELECT M.Asset ,DD.DeviceIdForExternal as DeviceId, TTS.Temp_in_degree
	, Tdate as TransactionDate
	FROM tbl_transactionTempSensor TTS
	INNER JOIN tbl_DeviceDetails DD ON TTS.Device_ID = DD.DeviceIdForExternal
	INNER JOIN [tbl_MeterAssetMapping] M ON M.AssetId = DD.AssetId
	WHERE M.AssetId 
	--in (120,114,112)
	IN (SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@assetid, ',')) 
		AND Tdate between @START_DATE and @END_DATE
		order by M.Asset , Tdate

END














GO
/****** Object:  StoredProcedure [dbo].[sp_GetThermalMonitoringHVAC_live_ByAssetId_warm]    Script Date: 4/13/2026 9:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Prasun Guchhait
-- Create date: 26-04-2024
-- Description:	Stored Procedurer to get the series temperature infrormation for HVAC Devices
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetThermalMonitoringHVAC_live_ByAssetId_warm]
@assetid varchar(255)
AS
BEGIN
DECLARE @START_DATE DATETIME;
DECLARE @END_DATE DATETIME;

SET @START_DATE = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1);
SET @END_DATE = GETDATE();

	SELECT M.Asset ,DD.DeviceIdForExternal as DeviceId, TTS.Temp_in_degree
	, Tdate as TransactionDate
	FROM tbl_transactionTempSensor TTS
	INNER JOIN tbl_DeviceDetails DD ON TTS.Device_ID = DD.DeviceIdForExternal
	INNER JOIN [tbl_MeterAssetMapping] M ON M.AssetId = DD.AssetId
	WHERE M.AssetId 
	--in (120,114,112)
	IN (SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@assetid, ',')) 
		AND Tdate between @START_DATE and @END_DATE
		order by M.Asset , Tdate

END
GO
