USE [pe_db_complaintMGT]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAlertCount_OpsNonOpsPercentage]    Script Date: 12/10/2025 11:42:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_GetAlertCount_OpsNonOpsPercentage]
	-- Add the parameters for the stored procedure here
	@fromdate datetime,
	@todate datetime
AS
BEGIN

	WITH FilteredAlerts AS (
    SELECT *
    FROM dbo.tbl_Alerts
    WHERE CreateDate BETWEEN @fromdate
                        AND @todate
)
SELECT
    (SELECT COUNT(*) FROM FilteredAlerts) AS TotalCount,

    -- Counts (works if JOIN does not duplicate rows)
    SUM(CASE WHEN sow.SiteOperationWindow = 'Ops Schedule' THEN 1 ELSE 0 END) AS OpsCount,
    SUM(CASE WHEN sow.SiteOperationWindow = 'No Ops Schedule' THEN 1 ELSE 0 END) AS NonOpsCount,

    -- Percentages (based on TotalCount)
    CAST(
      ROUND(
        100.0 * SUM(CASE WHEN sow.SiteOperationWindow = 'Ops Schedule' THEN 1 ELSE 0 END)
        / NULLIF((SELECT COUNT(*) FROM FilteredAlerts), 0),
      2)
    AS DECIMAL(10,2)) AS OpsPercentage,

    CAST(
      ROUND(
        100.0 * SUM(CASE WHEN sow.SiteOperationWindow = 'No Ops Schedule' THEN 1 ELSE 0 END)
        / NULLIF((SELECT COUNT(*) FROM FilteredAlerts), 0),
      2)
    AS DECIMAL(10,2)) AS NonOpsPercentage

FROM FilteredAlerts fa
LEFT JOIN dbo.tbl_SiteOperationWindow sow
  ON CAST(fa.CreateDate AS TIME) BETWEEN sow.StartTime AND sow.EndTime;


END







alter table [dbo].[tbl_Asset]
ADD Flag varchar(255);

update [dbo].[tbl_Asset]
set flag = 'P'
where Name IN ( 'Veg and Non-Veg Chiller - 2 Door - Chiller 5',
'Veg Upright Chiller-1 4 door',
'Under Counter Chiller Non-Veg',
'Under Counter Chiller 2 Veg',
'Deep Freezer Veg',
'Deep Freezer Spicy Veg',
'Vertical Freezer 1 Veg and Non Veg',
'Deep Freezer Non Veg',
'Makeline',
'Holding Cabinet',
'Prod Area Right Side DUCT Ac2',
'Production Area - Ambient')


update [dbo].[tbl_Asset]
set flag = 'P'
where Name in (
'Store Dining Ambient',
'Cassette Unit near Counter',
'Cassette Unit near Entrance',
'Cassette Unit Center',
'Dining Left Side Duct AC1')


 
USE [pe_db_complaintMGT]
GO
/****** Object:  StoredProcedure [dbo].[sp_ComplianceDashboardAllOverall_Cold]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter PROCEDURE [dbo].[sp_ComplianceDashboardAllOverall_Cold]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates

    -- Temporary table for storing alert counts per device
    DROP TABLE IF EXISTS #temp;
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT);

    -- Temporary table for storing non-compliance percentage
    DROP TABLE IF EXISTS #tempp;
    CREATE TABLE #tempp (nonCompliance DECIMAL(10,2));

    -- Populate #temp with alert counts per device
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt
    FROM [dbo].[tbl_Alerts]
    WHERE [ReportDate] BETWEEN @StartDate AND @EndDate
    GROUP BY [DeviceId];

    -- Calculate non-compliance percentage and store in #tempp
    INSERT INTO #tempp
    SELECT 
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (@NumDays * 24 * COUNT(A.DeviceId))) AS DECIMAL(10,2)) AS nonCompliance
    FROM #temp A;

    -- Retrieve compliance percentage
    SELECT 
        nonCompliance,
        CAST((100 - CAST(nonCompliance AS DECIMAL(18,2))) AS DECIMAL(18,2)) AS Compliance 
    FROM #tempp;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ComplianceDashboardAllOverall_Hot]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter PROCEDURE [dbo].[sp_ComplianceDashboardAllOverall_Hot]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    -- Temporary table for storing alert counts per device
    DROP TABLE IF EXISTS #temp;
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT);

    -- Temporary table for storing non-compliance percentage
    DROP TABLE IF EXISTS #tempp;
    CREATE TABLE #tempp (nonCompliance DECIMAL(10,2));

    -- Populate #temp with alert counts per device
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt
    FROM [dbo].[tbl_Alerts]
    WHERE [ReportDate] BETWEEN @StartDate AND @EndDate
    GROUP BY [DeviceId];

    -- Calculate non-compliance percentage and store in #tempp
    INSERT INTO #tempp
    SELECT 
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (24 * COUNT(A.DeviceId))) AS DECIMAL(10,2)) AS nonCompliance
    FROM #temp A;

    -- Retrieve compliance percentage
    SELECT 
        nonCompliance,
        CAST((100 - CAST(nonCompliance AS DECIMAL(18,2))) AS DECIMAL(18,2)) AS Compliance 
    FROM #tempp;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ComplianceDashboardAllOverall_Warm]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter PROCEDURE [dbo].[sp_ComplianceDashboardAllOverall_Warm]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    SET NOCOUNT ON;

    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates

    -- Temporary table for storing alert counts per device
    DROP TABLE IF EXISTS #temp;
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT);

    -- Temporary table for storing non-compliance percentage
    DROP TABLE IF EXISTS #tempp;
    CREATE TABLE #tempp (nonCompliance DECIMAL(10,2));

    -- Populate #temp with alert counts per device
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt
    FROM [dbo].[tbl_Alerts]
    WHERE [ReportDate] BETWEEN @StartDate AND @EndDate
    GROUP BY [DeviceId];

    -- Calculate non-compliance percentage and store in #tempp
    INSERT INTO #tempp
    SELECT 
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (@NumDays * 24 * COUNT(A.DeviceId))) AS DECIMAL(10,2)) AS nonCompliance
    FROM #temp A;

    -- Retrieve compliance percentage
    SELECT 
        nonCompliance,
        CAST((100 - CAST(nonCompliance AS DECIMAL(18,2))) AS DECIMAL(18,2)) AS Compliance 
    FROM #tempp;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ComplianceDashboardAllOverallNonOps_Cold]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter PROCEDURE [dbo].[sp_ComplianceDashboardAllOverallNonOps_Cold]
    @startdate DATETIME,
    @enddate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates

	DROP TABLE IF EXISTS #temp;
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT);

    -- Temporary table for storing non-compliance percentage
    DROP TABLE IF EXISTS #tempp;
    CREATE TABLE #tempp (nonCompliance DECIMAL(10,2));

    INSERT INTO #temp
	SELECT 
	    [DeviceId],
        COUNT(DeviceId) AS Countt
    FROM 
        [dbo].[tbl_Alerts] -- Replace with your actual table name
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '00:01:00.000' AND '10:59:00.000'
		GROUP BY [DeviceId];

		INSERT INTO #tempp
    SELECT 
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (@NumDays * 24 * COUNT(A.DeviceId))) AS DECIMAL(10,2)) AS nonCompliance
    FROM #temp A;

    -- Retrieve compliance percentage
    SELECT 
        nonCompliance,
        CAST((100 - CAST(nonCompliance AS DECIMAL(18,2))) AS DECIMAL(18,2)) AS Compliance 
    FROM #tempp;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ComplianceDashboardAllOverallNonOps_Hot]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter PROCEDURE [dbo].[sp_ComplianceDashboardAllOverallNonOps_Hot]
    @startdate DATETIME,
    @enddate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

	DROP TABLE IF EXISTS #temp;
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT);

    -- Temporary table for storing non-compliance percentage
    DROP TABLE IF EXISTS #tempp;
    CREATE TABLE #tempp (nonCompliance DECIMAL(10,2));

    INSERT INTO #temp
	SELECT 
	    [DeviceId],
        COUNT(DeviceId) AS Countt
    FROM 
        [dbo].[tbl_Alerts] -- Replace with your actual table name
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '00:01:00.000' AND '10:59:00.000'
		GROUP BY [DeviceId];

		INSERT INTO #tempp
    SELECT 
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (24 * COUNT(A.DeviceId))) AS DECIMAL(10,2)) AS nonCompliance
    FROM #temp A;

    -- Retrieve compliance percentage
    SELECT 
        nonCompliance,
        CAST((100 - CAST(nonCompliance AS DECIMAL(18,2))) AS DECIMAL(18,2)) AS Compliance 
    FROM #tempp;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ComplianceDashboardAllOverallNonOps_Warm]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter PROCEDURE [dbo].[sp_ComplianceDashboardAllOverallNonOps_Warm]
    @startdate DATETIME,
    @enddate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates

	DROP TABLE IF EXISTS #temp;
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT);

    -- Temporary table for storing non-compliance percentage
    DROP TABLE IF EXISTS #tempp;
    CREATE TABLE #tempp (nonCompliance DECIMAL(10,2));

    INSERT INTO #temp
	SELECT 
	    [DeviceId],
        COUNT(DeviceId) AS Countt
    FROM 
        [dbo].[tbl_Alerts] -- Replace with your actual table name
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '00:01:00.000' AND '10:59:00.000'
		GROUP BY [DeviceId];

		INSERT INTO #tempp
    SELECT 
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (@NumDays * 24 * COUNT(A.DeviceId))) AS DECIMAL(10,2)) AS nonCompliance
    FROM #temp A;

    -- Retrieve compliance percentage
    SELECT 
        nonCompliance,
        CAST((100 - CAST(nonCompliance AS DECIMAL(18,2))) AS DECIMAL(18,2)) AS Compliance 
    FROM #tempp;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ComplianceDashboardAllOverallOps_Cold]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter PROCEDURE [dbo].[sp_ComplianceDashboardAllOverallOps_Cold]
    @startdate DATETIME,
    @enddate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates

	DROP TABLE IF EXISTS #temp;
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT);

    -- Temporary table for storing non-compliance percentage
    DROP TABLE IF EXISTS #tempp;
    CREATE TABLE #tempp (nonCompliance DECIMAL(10,2));

    INSERT INTO #temp
	SELECT 
	    [DeviceId],
        COUNT(DeviceId) AS Countt
    FROM 
        [dbo].[tbl_Alerts] -- Replace with your actual table name
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '11:00:00.000' AND '22:59:00.000'
		GROUP BY [DeviceId];

		INSERT INTO #tempp
    SELECT 
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (@NumDays * 24 * COUNT(A.DeviceId))) AS DECIMAL(10,2)) AS nonCompliance
    FROM #temp A;

    -- Retrieve compliance percentage
    SELECT 
        nonCompliance,
        CAST((100 - CAST(nonCompliance AS DECIMAL(18,2))) AS DECIMAL(18,2)) AS Compliance 
    FROM #tempp;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ComplianceDashboardAllOverallOps_Hot]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter PROCEDURE [dbo].[sp_ComplianceDashboardAllOverallOps_Hot]
    @startdate DATETIME,
    @enddate DATETIME
AS
BEGIN
    SET NOCOUNT ON;


	DROP TABLE IF EXISTS #temp;
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT);

    -- Temporary table for storing non-compliance percentage
    DROP TABLE IF EXISTS #tempp;
    CREATE TABLE #tempp (nonCompliance DECIMAL(10,2));

    INSERT INTO #temp
	SELECT 
	    [DeviceId],
        COUNT(DeviceId) AS Countt
    FROM 
        [dbo].[tbl_Alerts] -- Replace with your actual table name
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '11:00:00.000' AND '22:59:00.000'
		GROUP BY [DeviceId];

		INSERT INTO #tempp
    SELECT 
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / ( 24 * COUNT(A.DeviceId))) AS DECIMAL(10,2)) AS nonCompliance
    FROM #temp A;

    -- Retrieve compliance percentage
    SELECT 
        nonCompliance,
        CAST((100 - CAST(nonCompliance AS DECIMAL(18,2))) AS DECIMAL(18,2)) AS Compliance 
    FROM #tempp;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ComplianceDashboardAllOverallOps_Warm]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter PROCEDURE [dbo].[sp_ComplianceDashboardAllOverallOps_Warm]
    @startdate DATETIME,
    @enddate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates

	DROP TABLE IF EXISTS #temp;
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT);

    -- Temporary table for storing non-compliance percentage
    DROP TABLE IF EXISTS #tempp;
    CREATE TABLE #tempp (nonCompliance DECIMAL(10,2));

    INSERT INTO #temp
	SELECT 
	    [DeviceId],
        COUNT(DeviceId) AS Countt
    FROM 
        [dbo].[tbl_Alerts] -- Replace with your actual table name
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '11:00:00.000' AND '22:59:00.000'
		GROUP BY [DeviceId];

		INSERT INTO #tempp
    SELECT 
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (@NumDays * 24 * COUNT(A.DeviceId))) AS DECIMAL(10,2)) AS nonCompliance
    FROM #temp A;

    -- Retrieve compliance percentage
    SELECT 
        nonCompliance,
        CAST((100 - CAST(nonCompliance AS DECIMAL(18,2))) AS DECIMAL(18,2)) AS Compliance 
    FROM #tempp;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeviceWiseComplicanceofStore_Cold]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter PROCEDURE [dbo].[sp_DeviceWiseComplicanceofStore_Cold]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE [ReportDate] BETWEEN @StartDate AND @EndDate
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (@NumDays * 24)) AS DECIMAL(10,2)) AS noncompliance
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId 
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeviceWiseComplicanceofStore_Hot]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter PROCEDURE [dbo].[sp_DeviceWiseComplicanceofStore_Hot]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE [ReportDate] BETWEEN @StartDate AND @EndDate
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / 24) AS DECIMAL(10,2)) AS noncompliance
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId 
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeviceWiseComplicanceofStore_Warm]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter PROCEDURE [dbo].[sp_DeviceWiseComplicanceofStore_Warm]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE [ReportDate] BETWEEN @StartDate AND @EndDate
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (@NumDays * 24)) AS DECIMAL(10,2)) AS noncompliance 
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId 
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeviceWiseComplicanceofStoreNonOps_Cold]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter PROCEDURE [dbo].[sp_DeviceWiseComplicanceofStoreNonOps_Cold]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
     
	SET NOCOUNT ON;
    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '00:01:00.000' AND '10:59:00.000'
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (@NumDays * 24)) AS DECIMAL(10,2)) AS noncompiance 
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId 
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeviceWiseComplicanceofStoreNonOps_Hot]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter PROCEDURE [dbo].[sp_DeviceWiseComplicanceofStoreNonOps_Hot]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
     
	SET NOCOUNT ON;
    
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '00:01:00.000' AND '10:59:00.000'
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / 24) AS DECIMAL(10,2)) AS noncompliance 
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId 
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeviceWiseComplicanceofStoreNonOps_Warm]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter PROCEDURE [dbo].[sp_DeviceWiseComplicanceofStoreNonOps_Warm]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
     
	SET NOCOUNT ON;
    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '00:01:00.000' AND '10:59:00.000'
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (@NumDays * 24)) AS DECIMAL(10,2)) AS noncompliance
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId 
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeviceWiseComplicanceofStoreOps_Cold]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter PROCEDURE [dbo].[sp_DeviceWiseComplicanceofStoreOps_Cold]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN

    SET NOCOUNT ON;

    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '11:00:00.000' AND '22:59:00.000'
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) /(@NumDays * 24)) AS DECIMAL(10,2)) AS noncomplaince 
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId 
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeviceWiseComplicanceofStoreOps_Hot]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter PROCEDURE [dbo].[sp_DeviceWiseComplicanceofStoreOps_Hot]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN

    SET NOCOUNT ON;

    
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '11:00:00.000' AND '22:59:00.000'
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) /24) AS DECIMAL(10,2)) AS noncompliance
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId 
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeviceWiseComplicanceofStoreOps_Warm]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter PROCEDURE [dbo].[sp_DeviceWiseComplicanceofStoreOps_Warm]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN

    SET NOCOUNT ON;

    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '11:00:00.000' AND '22:59:00.000'
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) /(@NumDays * 24)) AS DECIMAL(10,2)) AS noncompliance
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId 
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DiningWiseComplicanceofStore_Cold]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_DiningWiseComplicanceofStore_Cold]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE [ReportDate] BETWEEN @StartDate AND @EndDate
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (@NumDays * 24)) AS DECIMAL(10,2)) AS noncompliance
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId where Flag = 'D'
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DiningWiseComplicanceofStore_Hot]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_DiningWiseComplicanceofStore_Hot]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE [ReportDate] BETWEEN @StartDate AND @EndDate
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / 24) AS DECIMAL(10,2)) AS noncompliance
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId where flag = 'D'
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DiningWiseComplicanceofStore_Warm]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_DiningWiseComplicanceofStore_Warm]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE [ReportDate] BETWEEN @StartDate AND @EndDate
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (@NumDays * 24)) AS DECIMAL(10,2)) AS noncompliance 
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId where flag = 'D'
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DiningWiseComplicanceofStoreNonOps_Cold]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_DiningWiseComplicanceofStoreNonOps_Cold]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
     
	SET NOCOUNT ON;
    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '00:01:00.000' AND '10:59:00.000'
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (@NumDays * 24)) AS DECIMAL(10,2)) AS noncompiance 
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId where flag = 'D'
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DiningWiseComplicanceofStoreNonOps_Hot]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_DiningWiseComplicanceofStoreNonOps_Hot]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
     
	SET NOCOUNT ON;
    
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '00:01:00.000' AND '10:59:00.000'
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / 24) AS DECIMAL(10,2)) AS noncompliance 
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId where flag = 'D'
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DiningWiseComplicanceofStoreNonOps_Warm]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_DiningWiseComplicanceofStoreNonOps_Warm]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
     
	SET NOCOUNT ON;
    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '00:01:00.000' AND '10:59:00.000'
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (@NumDays * 24)) AS DECIMAL(10,2)) AS noncompliance
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId where flag = 'D'
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DiningWiseComplicanceofStoreOps_Cold]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_DiningWiseComplicanceofStoreOps_Cold]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN

    SET NOCOUNT ON;

    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '11:00:00.000' AND '22:59:00.000'
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) /(@NumDays * 24)) AS DECIMAL(10,2)) AS noncomplaince 
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId where flag = 'D'
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DiningWiseComplicanceofStoreOps_Hot]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_DiningWiseComplicanceofStoreOps_Hot]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN

    SET NOCOUNT ON;

    
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '11:00:00.000' AND '22:59:00.000'
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) /24) AS DECIMAL(10,2)) AS noncompliance
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId where flag = 'D'
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DiningWiseComplicanceofStoreOps_Warm]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_DiningWiseComplicanceofStoreOps_Warm]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN

    SET NOCOUNT ON;

    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '11:00:00.000' AND '22:59:00.000'
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) /(@NumDays * 24)) AS DECIMAL(10,2)) AS noncompliance
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId where flag = 'D'
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOperationsWiseAlerts_Cold]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter PROCEDURE [dbo].[sp_GetOperationsWiseAlerts_Cold]
	@StartTime DATETIME,
	@EndTime DATETIME
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
		sow.SiteOperationWindow, 
		COUNT(a.[AlertId]) AS AlertCount
	FROM 
		[dbo].[tbl_Alerts] a
    JOIN 
	[dbo].[tbl_SiteOperationWindow] sow 
	ON CAST(a.CreateDate AS TIME) BETWEEN sow.StartTime AND sow.EndTime
    WHERE
	a.CreateDate BETWEEN @StartTime AND @EndTime
	GROUP BY sow.SiteOperationWindow;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOperationsWiseAlerts_hot]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter PROCEDURE [dbo].[sp_GetOperationsWiseAlerts_hot]
	@StartTime DATETIME,
	@EndTime DATETIME
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
		sow.SiteOperationWindow, 
		COUNT(a.[AlertId]) AS AlertCount
	FROM 
		[dbo].[tbl_Alerts] a
    JOIN 
	[dbo].[tbl_SiteOperationWindow] sow 
	ON CAST(a.CreateDate AS TIME) BETWEEN sow.StartTime AND sow.EndTime
    WHERE
	a.CreateDate BETWEEN @StartTime AND @EndTime
	GROUP BY sow.SiteOperationWindow;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOperationsWiseAlerts_warm]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter PROCEDURE [dbo].[sp_GetOperationsWiseAlerts_warm]
	@StartTime DATETIME,
	@EndTime DATETIME
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
		sow.SiteOperationWindow, 
		COUNT(a.[AlertId]) AS AlertCount
	FROM 
		[dbo].[tbl_Alerts] a
    JOIN 
	[dbo].[tbl_SiteOperationWindow] sow 
	ON CAST(a.CreateDate AS TIME) BETWEEN sow.StartTime AND sow.EndTime
    WHERE
	a.CreateDate BETWEEN @StartTime AND @EndTime
	GROUP BY sow.SiteOperationWindow;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOperationsWiseCompliance_Cold]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter PROCEDURE [dbo].[sp_GetOperationsWiseCompliance_Cold]
	@StartDate DATETIME,
	@EndDate DATETIME
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @TotalWindows INT;
SELECT @TotalWindows = COUNT(*)
FROM dbo.tbl_SiteOperationWindow;

DECLARE @NumDays INT;
SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1;

;WITH AlertWindowCount AS
(
    SELECT 
        sow.SiteOperationWindow,
        sow.StartTime,
        sow.EndTime,
        COUNT(a.DeviceId) AS DeviceIdCount,

        /* Calculate window hours (ignore minutes & seconds) */
        CASE 
            WHEN DATEPART(HOUR, sow.EndTime) >= DATEPART(HOUR, sow.StartTime)
                THEN (DATEPART(HOUR, sow.EndTime) - DATEPART(HOUR, sow.StartTime) +1)
            ELSE
                ((12 - DATEPART(HOUR, sow.StartTime)) + DATEPART(HOUR, sow.EndTime)+1)
        END AS WindowHours

    FROM dbo.tbl_Alerts a
    JOIN dbo.tbl_SiteOperationWindow sow
        ON CAST(a.CreateDate AS TIME) 
           BETWEEN sow.StartTime AND sow.EndTime
    WHERE a.ReportDate BETWEEN @StartDate AND @EndDate
    GROUP BY 
        sow.SiteOperationWindow,
        sow.StartTime,
        sow.EndTime
)
SELECT
    SiteOperationWindow,
    StartTime,
    EndTime,
    WindowHours,
    DeviceIdCount,

    /* Non-Compliance % */
    CAST(
        (((DeviceIdCount * 2.0) / 60) * 100) 
        / (@NumDays * WindowHours * @TotalWindows)
        AS DECIMAL(10,2)
    ) AS NonCompliancePercent,

    /* Compliance % */
    CAST(
        100 -
        (
            (((DeviceIdCount * 2.0) / 60) * 100)
            / (@NumDays * WindowHours * @TotalWindows)
        )
        AS DECIMAL(10,2)
    ) AS CompliancePercent

FROM AlertWindowCount;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOperationsWiseCompliance_Hot]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter PROCEDURE [dbo].[sp_GetOperationsWiseCompliance_Hot]
	@StartDate DATETIME,
	@EndDate DATETIME
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @TotalWindows INT;
SELECT @TotalWindows = COUNT(*)
FROM dbo.tbl_SiteOperationWindow;

DECLARE @NumDays INT;
SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1;

;WITH AlertWindowCount AS
(
    SELECT 
        sow.SiteOperationWindow,
        sow.StartTime,
        sow.EndTime,
        COUNT(a.DeviceId) AS DeviceIdCount,

        /* Calculate window hours (ignore minutes & seconds) */
        CASE 
            WHEN DATEPART(HOUR, sow.EndTime) >= DATEPART(HOUR, sow.StartTime)
                THEN (DATEPART(HOUR, sow.EndTime) - DATEPART(HOUR, sow.StartTime) +1)
            ELSE
                ((12 - DATEPART(HOUR, sow.StartTime)) + DATEPART(HOUR, sow.EndTime)+1)
        END AS WindowHours

    FROM dbo.tbl_Alerts a
    JOIN dbo.tbl_SiteOperationWindow sow
        ON CAST(a.CreateDate AS TIME) 
           BETWEEN sow.StartTime AND sow.EndTime
    WHERE a.ReportDate BETWEEN @StartDate AND @EndDate
    GROUP BY 
        sow.SiteOperationWindow,
        sow.StartTime,
        sow.EndTime
)
SELECT
    SiteOperationWindow,
    StartTime,
    EndTime,
    WindowHours,
    DeviceIdCount,

    /* Non-Compliance % */
    CAST(
        (((DeviceIdCount * 2.0) / 60) * 100) 
        / (@NumDays * WindowHours * @TotalWindows)
        AS DECIMAL(10,2)
    ) AS NonCompliancePercent,

    /* Compliance % */
    CAST(
        100 -
        (
            (((DeviceIdCount * 2.0) / 60) * 100)
            / (@NumDays * WindowHours * @TotalWindows)
        )
        AS DECIMAL(10,2)
    ) AS CompliancePercent

FROM AlertWindowCount;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOperationsWiseCompliance_Warm]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter PROCEDURE [dbo].[sp_GetOperationsWiseCompliance_Warm]
	@StartDate DATETIME,
	@EndDate DATETIME
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @TotalWindows INT;
SELECT @TotalWindows = COUNT(*)
FROM dbo.tbl_SiteOperationWindow;

DECLARE @NumDays INT;
SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1;

;WITH AlertWindowCount AS
(
    SELECT 
        sow.SiteOperationWindow,
        sow.StartTime,
        sow.EndTime,
        COUNT(a.DeviceId) AS DeviceIdCount,

        /* Calculate window hours (ignore minutes & seconds) */
        CASE 
            WHEN DATEPART(HOUR, sow.EndTime) >= DATEPART(HOUR, sow.StartTime)
                THEN (DATEPART(HOUR, sow.EndTime) - DATEPART(HOUR, sow.StartTime) +1)
            ELSE
                ((12 - DATEPART(HOUR, sow.StartTime)) + DATEPART(HOUR, sow.EndTime)+1)
        END AS WindowHours

    FROM dbo.tbl_Alerts a
    JOIN dbo.tbl_SiteOperationWindow sow
        ON CAST(a.CreateDate AS TIME) 
           BETWEEN sow.StartTime AND sow.EndTime
    WHERE a.ReportDate BETWEEN @StartDate AND @EndDate
    GROUP BY 
        sow.SiteOperationWindow,
        sow.StartTime,
        sow.EndTime
)
SELECT
    SiteOperationWindow,
    StartTime,
    EndTime,
    WindowHours,
    DeviceIdCount,

    /* Non-Compliance % */
    CAST(
        (((DeviceIdCount * 2.0) / 60) * 100) 
        / (@NumDays * WindowHours * @TotalWindows)
        AS DECIMAL(10,2)
    ) AS NonCompliancePercent,

    /* Compliance % */
    CAST(
        100 -
        (
            (((DeviceIdCount * 2.0) / 60) * 100)
            / (@NumDays * WindowHours * @TotalWindows)
        )
        AS DECIMAL(10,2)
    ) AS CompliancePercent

FROM AlertWindowCount;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductionWiseComplicanceofStore_Cold]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_ProductionWiseComplicanceofStore_Cold]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE [ReportDate] BETWEEN @StartDate AND @EndDate
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (@NumDays * 24)) AS DECIMAL(10,2)) AS noncompliance
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId where flag = 'P'
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductionWiseComplicanceofStore_Hot]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_ProductionWiseComplicanceofStore_Hot]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE [ReportDate] BETWEEN @StartDate AND @EndDate
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / 24) AS DECIMAL(10,2)) AS noncompliance
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId where flag = 'P'
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductionWiseComplicanceofStore_Warm]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_ProductionWiseComplicanceofStore_Warm]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE [ReportDate] BETWEEN @StartDate AND @EndDate
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (@NumDays * 24)) AS DECIMAL(10,2)) AS noncompliance 
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId where flag = 'P'
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductionWiseComplicanceofStoreNonOps_Cold]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_ProductionWiseComplicanceofStoreNonOps_Cold]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
     
	SET NOCOUNT ON;
    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '00:01:00.000' AND '10:59:00.000'
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (@NumDays * 24)) AS DECIMAL(10,2)) AS noncompiance 
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId where flag = 'P'
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductionWiseComplicanceofStoreNonOps_Hot]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_ProductionWiseComplicanceofStoreNonOps_Hot]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
     
	SET NOCOUNT ON;
    
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '00:01:00.000' AND '10:59:00.000'
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / 24) AS DECIMAL(10,2)) AS noncompliance 
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId where flag = 'P'
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductionWiseComplicanceofStoreNonOps_Warm]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_ProductionWiseComplicanceofStoreNonOps_Warm]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
     
	SET NOCOUNT ON;
    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '00:01:00.000' AND '10:59:00.000'
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) / (@NumDays * 24)) AS DECIMAL(10,2)) AS noncompliance
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId where flag = 'P'
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductionWiseComplicanceofStoreOps_Cold]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_ProductionWiseComplicanceofStoreOps_Cold]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN

    SET NOCOUNT ON;

    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '11:00:00.000' AND '22:59:00.000'
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) /(@NumDays * 24)) AS DECIMAL(10,2)) AS noncomplaince 
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId where flag = 'P'
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductionWiseComplicanceofStoreOps_Hot]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_ProductionWiseComplicanceofStoreOps_Hot]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN

    SET NOCOUNT ON;

    
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '11:00:00.000' AND '22:59:00.000'
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) /24) AS DECIMAL(10,2)) AS noncompliance
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId where flag = 'P'
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductionWiseComplicanceofStoreOps_Warm]    Script Date: 12/20/2025 10:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_ProductionWiseComplicanceofStoreOps_Warm]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN

    SET NOCOUNT ON;

    DECLARE @NumDays INT;
    SET @NumDays = DATEDIFF(DAY, @StartDate, @EndDate) + 1; -- +1 to include both start and end dates
    -- Temporary tables
    DROP TABLE IF EXISTS #temp
    CREATE TABLE #temp (DeviceId VARCHAR(30), countt INT)

    DROP TABLE IF EXISTS #tempp
    CREATE TABLE #tempp (device VARCHAR(100), SecValue DECIMAL(10,2))

    -- Insert alert counts per device within the date range
    INSERT INTO #temp
    SELECT       
        [DeviceId],
        COUNT([DeviceId]) AS countt 
    FROM [dbo].[tbl_Alerts] 
    WHERE 
        ReportDate BETWEEN @startdate AND @enddate
        AND CAST(ReportDate AS TIME) BETWEEN '11:00:00.000' AND '22:59:00.000'
    GROUP BY [DeviceId]

    -- Calculate compliance values
    INSERT INTO #tempp
    SELECT 
        ASS.Name AS DispalyName,
        CAST(((((CAST((SUM(A.countt) * 2) AS DECIMAL)) / 60) * 100) /(@NumDays * 24)) AS DECIMAL(10,2)) AS noncompliance
    FROM #temp A
    LEFT JOIN dbo.[tbl_DeviceDetails] D ON A.DeviceId = D.DeviceIdForExternal 
    LEFT JOIN [dbo].[tbl_Asset] ASS ON D.AssetId = ASS.AssetId where flag = 'P'
    GROUP BY ASS.Name, A.DeviceId

    -- Final result: compliance and non-compliance
    SELECT 
        device,
        SecValue,
        (100 - SecValue) AS FirValue 
    FROM #tempp
END
GO
