sp_rename  '[dbo].[sp_GetEmployeeGuestConfortDashboardDetail_Cold]',  'sp_GetEmployeeGuestComfortDashboardDetail_Cold'
        
sp_rename  '[dbo].[sp_GetEmployeeGuestConfortDashboardDetail_Hot]', 'sp_GetEmployeeGuestComfortDashboardDetail_Hot'

sp_rename '[dbo].[sp_GetEmployeeGuestConfortDashboardDetail_Warm]' ,'sp_GetEmployeeGuestComfortDashboardDetail_Warm'

sp_rename '[dbo].[sp_GetEmployeeGuestConfortDashboardDetailNonOps_Warm]' ,'sp_GetEmployeeGuestComfortDashboardDetailNonOps_Warm'

sp_rename '[dbo].[sp_GetEmployeeGuestConfortDashboardDetailNonOps_Cold]' ,'sp_GetEmployeeGuestComfortDashboardDetailNonOps_Cold'

sp_rename '[dbo].[sp_GetEmployeeGuestConfortDashboardDetailNonOps_Hot]' ,'sp_GetEmployeeGuestComfortDashboardDetailNonOps_Hot'

sp_rename '[dbo].[sp_GetEmployeeGuestConfortDashboardDetailOps_Warm]' ,'sp_GetEmployeeGuestComfortDashboardDetailOps_Warm'


sp_rename '[dbo].[sp_GetEmployeeGuestConfortDashboardDetailOps_Cold]' ,'sp_GetEmployeeGuestComfortDashboardDetailOps_Cold'

sp_rename '[dbo].[sp_GetEmployeeGuestConfortDashboardDetailOps_Hot]' ,'sp_GetEmployeeGuestComfortDashboardDetailOps_Hot'





USE [pe_db_complaintMGT]
GO
/****** Object:  StoredProcedure [dbo].[sp_AllOverallComplianceofStore]    Script Date: 12/23/2025 5:18:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   procedure [dbo].[sp_AllOverallComplianceofStore]
as
begin

drop table  IF EXISTS #temp
create table #temp (DeviceId varchar(30),countt int)
drop table  IF EXISTS #tempp
create table #tempp (device varchar(100),SecValue decimal(10,2))
insert into #temp
SELECT       
      [DeviceId],
	  count([DeviceId]) as countt 
  FROM [dbo].[tbl_Alerts] 
 --where [ReportDate] between dateadd(MINUTE, -60, getdate()) and getdate() 
  where cast(ReportDate as date)=cast(Getdate() as date) 
  group by [DeviceId]
      
--select A.DeviceId,count(A.[DeviceId]) FROM [dbo].[tbl_Alerts] A  where cast(A.[ReportDate] as date)=cast(getdate() as date) and A.DeviceId IN (SELECT device FROM #temp WHERE countt>10) group by A.DeviceId
insert into #tempp
select ASS.Name as DispalyName,
cast(((((CAST((sum(A.countt)*2) as decimal))/60)*100)/(24)) as decimal(10,2)) AS noncompliance
FROM #temp A
left join dbo.[tbl_DeviceDetails] D ON A.DeviceId=D.DeviceIdForExternal 
left join [dbo].[tbl_Asset] ASS ON D.[AssetId]=ASS.AssetId 
--where cast(A.ReportDate as date)=cast(Getdate() as date) 
group by ASS.Name,A.DeviceId
--select ASS.Name as DispalyName,count(A.[DeviceId]) AS CO FROM [dbo].[tbl_Alerts] A left join [dbo].[tbl_DeviceDetails] D ON A.DeviceId=D.DeviceIdForExternal left join [dbo].[tbl_Asset] ASS ON D.[AssetId]=ASS.AssetId where cast(A.ReportDate as date)=cast(Getdate() as date) and A.DeviceId IN (SELECT device FROM #temp WHERE countt>10) group by ASS.Name,A.DeviceId

select device,SecValue,(100-SecValue) as FirValue from #tempp
end

