USE [pe_db_complaintMGT]
GO
/****** Object:  StoredProcedure [dbo].[MapDeatils]    Script Date: 17-03-2026 15:44:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[MapDeatils]
AS
BEGIN
    SET NOCOUNT ON;

    -- Result Set 1: Sites
    SELECT 
        S.SiteName, S.SiteId, Z.ZoneName, C.CityName,
        S.Longitude, S.Latitude, 
        ISNULL(S.AddressLine1, '') + 
        CASE WHEN S.AddressLine2 IS NOT NULL AND S.AddressLine2 != '' 
             THEN ', ' + S.AddressLine2 ELSE '' END AS Address,
        Z.IsActive
    FROM (
        SELECT 
            SiteId, SiteName, Latitude, Longitude,
            CityId, AddressLine1, AddressLine2,
            ROW_NUMBER() OVER (PARTITION BY SiteId ORDER BY SiteId) AS rn
        FROM tbl_Site
        WHERE Latitude  IS NOT NULL
          AND Longitude IS NOT NULL
          AND Latitude  != 0
          AND Longitude != 0
    ) S
    INNER JOIN [CityMaster] C ON C.CityId = S.CityId
    INNER JOIN [tbl_Zone]   Z ON Z.CityId = C.CityId
    WHERE S.rn = 1

    -- Result Set 2: Assets
    SELECT 
        SiteId, SiteName, Latitude, Longitude,
        CityName, ZoneName, AssetList
    FROM (
        SELECT 
            S.SiteId,
            S.SiteName,
            S.Latitude,
            S.Longitude,
            C.CityName,
            Z.ZoneName,
            STRING_AGG(CONCAT('Asset ', A.RowNum, ' : ', A.Name), '<br/>')
                WITHIN GROUP (ORDER BY A.RowNum) AS AssetList,
            ROW_NUMBER() OVER (PARTITION BY S.SiteId ORDER BY S.SiteId) AS rn
        FROM (
            SELECT 
                AssetId, Name, SiteId,
                ROW_NUMBER() OVER (PARTITION BY SiteId ORDER BY AssetId) AS RowNum
            FROM tbl_Asset
            WHERE IsActive = 1
        ) A
        INNER JOIN tbl_Site S   ON S.SiteId = A.SiteId
        INNER JOIN CityMaster C ON C.CityId = S.CityId
        INNER JOIN tbl_Zone Z   ON Z.CityId = C.CityId
        WHERE S.Latitude  IS NOT NULL
          AND S.Longitude IS NOT NULL
          AND S.Latitude  != 0
          AND S.Longitude != 0
        GROUP BY S.SiteId, S.SiteName, S.Latitude,
                 S.Longitude, C.CityName, Z.ZoneName
    ) AS T
    WHERE rn = 1

    -- Result Set 3: Devices
    SELECT 
        SiteId, SiteName, Latitude, Longitude,
        CityName, ZoneName, DeviceList
    FROM (
        SELECT 
            S.SiteId, S.SiteName, S.Latitude, S.Longitude,
            C.CityName, Z.ZoneName,
            STRING_AGG(CONCAT('Device ', DD.RowNum, ' : ', DD.DispalyName), '<br/>')
                WITHIN GROUP (ORDER BY DD.RowNum) AS DeviceList,
            ROW_NUMBER() OVER (PARTITION BY S.SiteId ORDER BY S.SiteId) AS rn
        FROM (
            SELECT 
                DeviceId, DispalyName, SiteId,
                ROW_NUMBER() OVER (PARTITION BY SiteId ORDER BY DeviceId) AS RowNum
            FROM tbl_DeviceDetails
            WHERE IsActive = 1
        ) DD
        INNER JOIN tbl_Site S   ON S.SiteId = DD.SiteId
        INNER JOIN CityMaster C ON C.CityId = S.CityId
        INNER JOIN tbl_Zone Z   ON Z.CityId = C.CityId
        WHERE S.Latitude  != 0 
          AND S.Longitude != 0
        GROUP BY S.SiteId, S.SiteName, S.Latitude,
                 S.Longitude, C.CityName, Z.ZoneName
    ) AS T 
    WHERE rn = 1

END
