USE [pe_db_complaintMGT]
GO
/****** Object:  Table [dbo].[CityMaster]    Script Date: 17-03-2026 15:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityMaster](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](50) NOT NULL,
	[StateId] [int] NOT NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Asset]    Script Date: 17-03-2026 15:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Asset](
	[AssetId] [int] IDENTITY(1,1) NOT NULL,
	[AssetTypeId] [int] NULL,
	[Tag] [varchar](20) NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](50) NULL,
	[OEM] [varchar](20) NULL,
	[Make] [varchar](20) NULL,
	[Model] [varchar](20) NULL,
	[SerialNo] [varchar](20) NULL,
	[Quanitity] [decimal](10, 2) NULL,
	[Price] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[ModifyBy] [varchar](20) NULL,
	[ModifyDate] [datetime] NULL,
	[Asset_Rating] [varchar](20) NULL,
	[Asset_Capacity] [varchar](20) NULL,
	[Flag] [varchar](255) NULL,
	[SiteId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_DeviceDetails]    Script Date: 17-03-2026 15:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DeviceDetails](
	[DeviceId] [int] IDENTITY(1,1) NOT NULL,
	[AssetId] [int] NULL,
	[CustomerId] [int] NULL,
	[SiteId] [int] NULL,
	[DeviceStatusId] [int] NULL,
	[AssetTag] [varchar](20) NULL,
	[ImeiNo] [varchar](20) NULL,
	[DeviceIdForExternal] [varchar](20) NULL,
	[DispalyName] [varchar](20) NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[ModifyBy] [varchar](20) NULL,
	[ModifyDate] [datetime] NULL,
	[DeviceTypeId] [int] NULL,
	[FirmwareVersion] [varchar](20) NULL,
	[Accesskey] [varchar](20) NULL,
	[Upgradeavailable] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Site]    Script Date: 17-03-2026 15:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Site](
	[SiteId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[CountryId] [int] NULL,
	[StateId] [int] NULL,
	[CityId] [int] NULL,
	[Name] [varchar](20) NULL,
	[AddressLine1] [varchar](50) NULL,
	[AddressLine2] [varchar](50) NULL,
	[PinCode] [int] NULL,
	[IsDSTEnabled] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[ModifyBy] [varchar](20) NULL,
	[ModifyDate] [datetime] NULL,
	[ManagerId] [int] NULL,
	[Latitude] [decimal](18, 6) NULL,
	[Longitude] [decimal](18, 6) NULL,
	[SiteName] [varchar](200) NULL,
	[ZoneId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Zone]    Script Date: 17-03-2026 15:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Zone](
	[ZoneId] [int] IDENTITY(1,1) NOT NULL,
	[ZoneName] [varchar](20) NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[ModifyBy] [varchar](20) NULL,
	[ModifyDate] [datetime] NULL,
	[CityId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ZoneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CityMaster] ON 

INSERT [dbo].[CityMaster] ([CityId], [CityName], [StateId], [Active]) VALUES (1, N'Mumbai', 1, 1)
INSERT [dbo].[CityMaster] ([CityId], [CityName], [StateId], [Active]) VALUES (2, N'Delhi', 2, 1)
INSERT [dbo].[CityMaster] ([CityId], [CityName], [StateId], [Active]) VALUES (3, N'Bengaluru', 3, 1)
GO
SET IDENTITY_INSERT [dbo].[CityMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Asset] ON 

SET IDENTITY_INSERT [dbo].[tbl_Asset] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_DeviceDetails] ON 

INSERT [dbo].[tbl_DeviceDetails] ([DeviceId], [AssetId], [CustomerId], [SiteId], [DeviceStatusId], [AssetTag], [ImeiNo], [DeviceIdForExternal], [DispalyName], [IsActive], [CreateBy], [CreateDate], [ModifyBy], [ModifyDate], [DeviceTypeId], [FirmwareVersion], [Accesskey], [Upgradeavailable]) VALUES (26, 104, 4, 5, 16, N'1', N'1', N'083A8DD37EDF', N'Veg and Non-Veg Chil', 1, N'adminhk@gmail.com', CAST(N'2024-04-09T16:59:05.267' AS DateTime), N'adminhk@gmail.com', CAST(N'2024-04-09T23:56:52.447' AS DateTime), 5, N'1', N'083A8DD37EDF', N'Yes')
INSERT [dbo].[tbl_DeviceDetails] ([DeviceId], [AssetId], [CustomerId], [SiteId], [DeviceStatusId], [AssetTag], [ImeiNo], [DeviceIdForExternal], [DispalyName], [IsActive], [CreateBy], [CreateDate], [ModifyBy], [ModifyDate], [DeviceTypeId], [FirmwareVersion], [Accesskey], [Upgradeavailable]) VALUES (27, 112, 4, 5, 17, N'1', N'1', N'PE-T-03', N'Cassette Unit near C', 1, N'adminhk@gmail.com', CAST(N'2024-04-09T19:38:13.560' AS DateTime), N'adminhk@gmail.com', CAST(N'2025-02-06T22:06:49.053' AS DateTime), 4, N'1', N'PE-T-03', N'Yes')
INSERT [dbo].[tbl_DeviceDetails] ([DeviceId], [AssetId], [CustomerId], [SiteId], [DeviceStatusId], [AssetTag], [ImeiNo], [DeviceIdForExternal], [DispalyName], [IsActive], [CreateBy], [CreateDate], [ModifyBy], [ModifyDate], [DeviceTypeId], [FirmwareVersion], [Accesskey], [Upgradeavailable]) VALUES (28, 105, 4, 5, 16, N'Veg Upright chiller ', N'2', N'24D7EBCD0A7D', N'Veg Upright Chiller ', 1, N'adminhk@gmail.com', CAST(N'2024-04-10T07:29:30.737' AS DateTime), N'adminhk@gmail.com', CAST(N'2024-04-10T07:29:30.737' AS DateTime), 5, N'1', N'24D7EBCD0A7D', N'yes')
SET IDENTITY_INSERT [dbo].[tbl_DeviceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Site] ON 

INSERT [dbo].[tbl_Site] ([SiteId], [CustomerId], [CountryId], [StateId], [CityId], [Name], [AddressLine1], [AddressLine2], [PinCode], [IsDSTEnabled], [IsActive], [CreateBy], [CreateDate], [ModifyBy], [ModifyDate], [ManagerId], [Latitude], [Longitude], [SiteName], [ZoneId]) VALUES (5, 4, 1, 1, 1, N'PE Powai', N'Powai', N'Powai', 111111, 1, 1, N'adminhk@gmail.com', CAST(N'2024-04-09T16:44:03.263' AS DateTime), N'adminhk@gmail.com', CAST(N'2025-02-06T13:45:28.673' AS DateTime), 2, CAST(19.116288 AS Decimal(18, 6)), CAST(72.909122 AS Decimal(18, 6)), N'Pizza Express', 2)
SET IDENTITY_INSERT [dbo].[tbl_Site] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Zone] ON 

INSERT [dbo].[tbl_Zone] ([ZoneId], [ZoneName], [IsActive], [CreateBy], [CreateDate], [ModifyBy], [ModifyDate], [CityId]) VALUES (2, N'East', 1, N'admin@gmail.com', CAST(N'2022-09-03T13:43:16.797' AS DateTime), N'admin@gmail.com', CAST(N'2022-09-03T13:48:04.223' AS DateTime), 1)
INSERT [dbo].[tbl_Zone] ([ZoneId], [ZoneName], [IsActive], [CreateBy], [CreateDate], [ModifyBy], [ModifyDate], [CityId]) VALUES (3, N'North', 1, N'admin@gmail.com', CAST(N'2022-09-03T13:48:25.807' AS DateTime), N'admin@gmail.com', CAST(N'2022-09-03T13:48:25.807' AS DateTime), 2)
INSERT [dbo].[tbl_Zone] ([ZoneId], [ZoneName], [IsActive], [CreateBy], [CreateDate], [ModifyBy], [ModifyDate], [CityId]) VALUES (4, N'West ', 1, N'admin@gmail.com', CAST(N'2022-09-03T13:49:16.667' AS DateTime), N'admin@gmail.com', CAST(N'2022-09-03T13:49:16.667' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[tbl_Zone] OFF
GO
